[2021-06-03 07:58] Docebo-Netflix commented on #259
Twitter
![Twitter--DownloadApp-259](https://user-images.githubusercontent.com/78985665/120609244-da861400-c406-11eb-9a32-ed350e749703.png)

[2021-06-03 10:50] Toledit commented on #262
Cool Designs! FYI, The lesser the text the better - while designing your infographics. The core team prefers it that way. Cheers.

[2021-06-03 10:51] Toledit commented on #262
@Prawesh-MAGNETIC Cool Designs! FYI, The lesser the text the better - while designing your infographics. The core team prefers it that way. Cheers.

[2021-06-03 10:53] Toledit commented on #262
Instagram
![instagram  #262](https://user-images.githubusercontent.com/27518021/120633506-e6a7bb00-c472-11eb-9618-3ea124d8f5f4.jpg)
Facebook
![facebook  #262](https://user-images.githubusercontent.com/27518021/120633565-f3c4aa00-c472-11eb-8236-feadc49a4040.jpg)
Twitter
![twitter-#262](https://user-images.githubusercontent.com/27518021/120633580-fb844e80-c472-11eb-8452-15f15b8dfbf0.jpg)
c2c867ba352

[2021-06-03 14:47] stoimenov00 commented on #258
Twitter
![#258 Twitter (1)](https://user-images.githubusercontent.com/78659181/120664589-57f36800-c48b-11eb-9d31-51bf4c836729.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-03 15:33] stoimenov00 commented on #260
Twitter
![#260 Twitter](https://user-images.githubusercontent.com/78659181/120671492-b9b6d080-c491-11eb-8972-b47f647f5fa4.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-03 16:42] Prawesh-MAGNETIC commented on #262
@Toledit Thank you so much for the compliment. I am growing and thenewboston and the community contributors like you are a real booster. let us grow together! I am enjoying the community. #HelpMeGrow !

[2021-06-03 17:29] Toledit commented on #262
Definitely! If you want any assets or questions, feel free to ping🚀

[2021-06-03 21:22] buckyroberts opened #263 "Playlist Thumbnail for "Docker""
**Task**
Create a thumbnail graphic for the "Docker" tutorial series to be used on this page https://thenewboston.com/tutorials/All

Thumbnail should:
- Incorporate the topic logo (if available)
- Match colors/styling for the topic
- Be high quality

**Image Specs**
Size: 1280 x 720
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/Kcaf9k2.png)
![](https://i.imgur.com/q5RINQX.png)
![](https

[2021-06-03 22:01] #234 closed

[2021-06-03 22:02] #235 closed

[2021-06-03 22:02] #236 closed

[2021-06-03 22:02] #237 closed

[2021-06-03 22:02] #246 closed

[2021-06-03 22:02] #245 closed

[2021-06-03 22:02] #247 closed

[2021-06-03 22:03] #248 closed

[2021-06-03 22:03] buckyroberts commented on #249
@Chrisha1212 Payment Due

---

User: @datdood
Amount: 400

[2021-06-03 22:04] buckyroberts commented on #250
@Chrisha1212 Payment Due

---

User: @Toledit
Amount: 400

[2021-06-03 22:04] RobbieObe commented on #263
![TNB_DOCKER](https://user-images.githubusercontent.com/81463471/120717760-5e540500-c4c8-11eb-9936-1853c5c0fd45.png)
61b2d9af56556e3b973dd6417da14bf9c5b5d306d0043439bc744fd828b3a640

[2021-06-03 22:22] Docebo-Netflix commented on #263
![Thumbnail_Docker_263](https://user-images.githubusercontent.com/78985665/120719598-6a67a480-c47f-11eb-9f46-82bcd157aeba.png)

[2021-06-04 06:27] #249 closed

[2021-06-04 06:29] #250 closed

[2021-06-04 10:50] Toledit commented on #232
![og](https://user-images.githubusercontent.com/27518021/120790550-c68ffe80-c53b-11eb-8ee1-07cd7546bd09.jpg)
![og2](https://user-images.githubusercontent.com/27518021/122070313-87489400-cdfe-11eb-890d-5c7990bd1bdc.jpg)

c2c867ba352e754ab17d228871105edfcc1c0d33f32f57ff76823055041b417a

[2021-06-05 09:53] muriuki54 commented on #232
![tnb_og](https://user-images.githubusercontent.com/43035842/120887689-fd7a1900-c5fc-11eb-9b9d-e4c4bf6a33d3.png)

63bc695af3450e84a893f2168dea3db910eee2367d4da5a5526c2a7b03108f20

[2021-06-05 10:38] muriuki54 commented on #263
![docker_thumb](https://user-images.githubusercontent.com/43035842/120888851-3fa65900-c603-11eb-8912-7a6f20a8908c.png)

63bc695af3450e84a893f2168dea3db910eee2367d4da5a5526c2a7b03108f20

[2021-06-05 22:47] buckyroberts commented on #263
@Chrisha1212 Payment Due

---

User: @SwedishFisherman
Amount: 400

[2021-06-06 15:39] #263 closed

[2021-06-10 10:16] gligorovam commented on #256
tnbGo is a project that will enable better interaction with thenewboston network by providing SDK written in Go.  It has the goal to promote different programming languages other than Javascript.
 This would offer a solution for the programmers using programming languages other than Javascript, encouraging more programmers to join. It would solve the problem of people using different languages hav

[2021-06-12 20:41] buckyroberts opened #264 "Promote React Native Developer opening"
**Task**
Create a graphic to promote our open React Native Developer position.

https://thenewboston.com/openings/Engineering/react-native-developer

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-06-12 20:41] buckyroberts opened #265 "Promote Senior Python / Django Developer opening"
**Task**
Create a graphic to promote our open Senior Python / Django Developer position.

https://thenewboston.com/openings/Engineering/senior-python-django-developer

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-06-13 00:51] Docebo-Netflix commented on #265
I’m working on this

[2021-06-13 05:25] roovy54 commented on #264
I'm working on this!

[2021-06-13 06:21] Docebo-Netflix commented on #265
Instagram
Facebook
LinkedIn
Reddit
![FB-Insta--Issue-265](https://user-images.githubusercontent.com/78985665/121797401-da3f0300-cbd4-11eb-88dc-561d98785616.png)

[2021-06-13 06:21] Docebo-Netflix commented on #265
Twitter
![Twitter--Issue-265](https://user-images.githubusercontent.com/78985665/121797415-ef1b9680-cbd4-11eb-9da4-7ba6fbd98516.png)

[2021-06-13 13:36] bojan-ilijevski opened #266 "Crypto Quote"
**Task**
This will be the description: Education is not always about the degree. Learn, build and grow your skills with thenewboston.

We need this for Facebook, Twitter, Instagram, LinkedIn, Reddit and Pintrest

Due Date: 15.06.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a vari

[2021-06-13 13:36] bojan-ilijevski opened #267 "Inspirational Post"
**Task**
This will be the description: Erik Finman - Teenage Bitcoin Millionaire

We need this for Facebook, Twitter, Instagram, LinkedIn, Reddit and Pintrest

Due Date: `15.06.2021`

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, des

[2021-06-13 13:36] bojan-ilijevski opened #268 "Crypto Tips and Hacks"
**Task**
This will be the description: The only investment you need is your time

We need this for Facebook, Twitter, Instagram, LinkedIn, Reddit and Pintrest

Due Date: 15.06.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, desig

[2021-06-13 13:37] bojan-ilijevski opened #269 "Crypto Questions"
**Task**
The description will be: How old were you when you started learning about cryptocurrency?

We need this for Facebook, Twitter, Instagram, LinkedIn, Reddit and Pintrest

Due Date: 15.06.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, bu

[2021-06-13 13:37] bojan-ilijevski opened #270 "Good ol' infographic"
**Task**
What makes TNBC unique?
1. It's the fastest blockchain in the world
2. Controlled by the community

We need this for Facebook, Twitter, Instagram, LinkedIn, Reddit and Pintrest

Due Date: 15.06.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing

[2021-06-13 14:26] Chrisha1212 commented on #262
@Toledit- 2400

[2021-06-13 14:36] stoimenov00 commented on #266
I am working on this

[2021-06-13 14:38] stoimenov00 commented on #268
I will work on this task

[2021-06-13 15:32] Docebo-Netflix commented on #269
I’m working on this

[2021-06-13 16:59] Docebo-Netflix commented on #264
Instagram
Facebook
LinkedIn
Reddit
![Facebook-Insta-Issue-264](https://user-images.githubusercontent.com/78985665/121816009-0d61b080-cc2e-11eb-9831-f4187d0ceecd.png)

[2021-06-13 16:59] Docebo-Netflix commented on #264
Twitter
![Twitter-Issue-264](https://user-images.githubusercontent.com/78985665/121816018-194d7280-cc2e-11eb-9e39-a703f7f90290.png)

[2021-06-13 22:05] SwedishFisherman commented on #269
Instagram
![Instagram--Issue-269](https://user-images.githubusercontent.com/78985665/121823231-cc32c600-cc58-11eb-9a8a-8dd5ed6f4cac.png)

[2021-06-13 22:06] Docebo-Netflix commented on #269
Instagram
![Instagram--Issue-269](https://user-images.githubusercontent.com/78985665/121823255-eff60c00-cc58-11eb-8a69-83f6e0d1686b.png)

[2021-06-14 01:00] #262 closed

[2021-06-14 01:00] Chrisha1212 commented on #261
@Toledit -1600

[2021-06-14 01:05] #261 closed

[2021-06-14 01:06] Chrisha1212 commented on #260
@stoimenov00 -2400

[2021-06-14 01:08] #260 closed

[2021-06-14 01:09] Chrisha1212 commented on #259
@SwedishFisherman -2400

[2021-06-14 01:12] #259 closed

[2021-06-14 01:12] Chrisha1212 commented on #258
@stoimenov00 -2400

[2021-06-14 01:18] #258 closed

[2021-06-14 01:20] Chrisha1212 commented on #265
@SwedishFisherman -1600

[2021-06-14 01:23] #265 closed

[2021-06-14 03:12] Docebo-Netflix commented on #269
Twitter
![Twitter--Issue-269](https://user-images.githubusercontent.com/78985665/121834465-bbe41080-cc83-11eb-8cde-71dabf629433.png)

[2021-06-14 03:13] Docebo-Netflix commented on #269
LinkedIn
![LinkedIn--Issue-269](https://user-images.githubusercontent.com/78985665/121834492-cb635980-cc83-11eb-8a85-4089f017d00f.png)

[2021-06-14 03:13] Docebo-Netflix commented on #269
Facebook
![Facebook--Issue-269](https://user-images.githubusercontent.com/78985665/121834508-d322fe00-cc83-11eb-8c79-9c8a40c8279c.png)

[2021-06-14 03:27] Docebo-Netflix commented on #269
Reddit
![Reddit--Issue-269](https://user-images.githubusercontent.com/78985665/121835315-cd2e1c80-cc85-11eb-8740-d97ef3b9367b.png)

[2021-06-14 03:28] Docebo-Netflix commented on #269
Pinterest
![Pinterest---Issue-269](https://user-images.githubusercontent.com/78985665/121835324-d8814800-cc85-11eb-9fdb-bfe342ea0963.png)

[2021-06-14 16:34] stoimenov00 commented on #268
Facebook
<img width="1200" alt="#268 Facebook" src="https://user-images.githubusercontent.com/78659181/121927184-0d9da100-cd3f-11eb-9867-897ebd2fdbda.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 16:35] stoimenov00 commented on #268
Instagram
<img width="1080" alt="#268 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/121927424-4e95b580-cd3f-11eb-97a6-d2b618177628.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 16:36] stoimenov00 commented on #268
Linkedin
<img width="1080" alt="#268 Linkedin" src="https://user-images.githubusercontent.com/78659181/121927462-5b1a0e00-cd3f-11eb-8166-82e832cd8ae9.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 16:36] stoimenov00 commented on #268
Pinterest
<img width="1000" alt="#268 Pineterest" src="https://user-images.githubusercontent.com/78659181/121927492-6705d000-cd3f-11eb-91f5-5c7adc323c83.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 16:37] stoimenov00 commented on #268
Twitter
<img width="1200" alt="#268 Twitter" src="https://user-images.githubusercontent.com/78659181/121927593-869cf880-cd3f-11eb-8f54-ffab00e7305e.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 16:40] stoimenov00 commented on #268
Reddit
![#268 reddit](https://user-images.githubusercontent.com/78659181/121927938-ec898000-cd3f-11eb-941d-d0ab2fe3c9c2.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:42] stoimenov00 commented on #266
Facebook
<img width="1200" alt="#266 Facebook (1)" src="https://user-images.githubusercontent.com/78659181/122049473-bf41de00-cde2-11eb-8495-deca3a67579a.png">

Edited:
<img width="1200" alt="#266 Facebook" src="https://user-images.githubusercontent.com/78659181/122247332-8f203b00-cec7-11eb-9520-c19cb730a2d7.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:42] stoimenov00 commented on #266
Instagram
<img width="1080" alt="#266 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/121942637-ff588080-cd50-11eb-9f4f-43a6175db8c3.png">

Edited:
<img width="1080" alt="#266 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/122247413-9c3d2a00-cec7-11eb-95b6-c49bc897ab73.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:42] stoimenov00 commented on #266
Linkedin
<img width="1080" alt="#266 Linkedin" src="https://user-images.githubusercontent.com/78659181/121943286-b81ebf80-cd51-11eb-9761-7165abed6739.png">

Edited:
<img width="1080" alt="#266 Linkedin" src="https://user-images.githubusercontent.com/78659181/122247529-b37c1780-cec7-11eb-997b-abb5bc66b972.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:43] stoimenov00 commented on #266
Pinterest
![Uploading #266 Pineterest.png…]()
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:48] stoimenov00 commented on #266
Pinterest
<img width="1000" alt="#266 Pineterest" src="https://user-images.githubusercontent.com/78659181/122049989-5149e680-cde3-11eb-9eef-eeb5339c4e0a.png">

Edited:
<img width="1000" alt="#266 Pineterest" src="https://user-images.githubusercontent.com/78659181/122247626-c5f65100-cec7-11eb-8a76-3b558fe5f1f9.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:56] stoimenov00 commented on #266
Twitter
<img width="1200" alt="#266 Twitter" src="https://user-images.githubusercontent.com/78659181/121944461-fc5e8f80-cd52-11eb-92f2-0ccc5e14ac50.png">

Edited:
<img width="1200" alt="#266 Twitter" src="https://user-images.githubusercontent.com/78659181/122247683-d27aa980-cec7-11eb-9698-23865c34a67b.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-14 18:56] stoimenov00 commented on #266
Reddit
![#266 reddit](https://user-images.githubusercontent.com/78659181/121944539-0d0f0580-cd53-11eb-8590-4a374a1a2fd0.png)

Edited:
![reddit](https://user-images.githubusercontent.com/78659181/122247749-e1f9f280-cec7-11eb-861a-6b3c3c4db8aa.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-15 14:31] Toledit commented on #267
Facebook
![facebook #267](https://user-images.githubusercontent.com/27518021/122070627-ce368980-cdfe-11eb-8aec-1d5fc4853df2.jpg)
Twitter
![twitter-#267](https://user-images.githubusercontent.com/27518021/122071421-646aaf80-cdff-11eb-9590-89862e919698.jpg)
Instagram
![instagram #267](https://user-images.githubusercontent.com/27518021/122071460-6b91bd80-cdff-11eb-946f-0d748ea99df0.jpg)
LinkedIn
![Li

[2021-06-15 14:43] Prawesh-MAGNETIC commented on #267
@Toledit Lovely.

[2021-06-15 21:00] SwedishFisherman commented on #270
Instagram
![Instagram-01-Issue-270](https://user-images.githubusercontent.com/78985665/122122703-ffed2780-cde1-11eb-8280-75fd2bf86f3b.png)
![Instagram-02-Issue-270](https://user-images.githubusercontent.com/78985665/122122709-0085be00-cde2-11eb-84f5-bd17777c899a.png)

[2021-06-15 21:00] SwedishFisherman commented on #270
Pinterest
![Pinterest-Issue-270](https://user-images.githubusercontent.com/78985665/122122742-0aa7bc80-cde2-11eb-8680-ec2e45897c72.png)

[2021-06-15 22:17] SwedishFisherman commented on #270
Facebook
![Facebook-Issue-270](https://user-images.githubusercontent.com/78985665/122130600-bbb35480-cdec-11eb-8426-5b8b097c04bc.png)

[2021-06-16 00:21] SwedishFisherman commented on #270
Twitter
![Twitter-Issue-270](https://user-images.githubusercontent.com/78985665/122139554-173a0e00-cdfe-11eb-8346-00714ffe14e5.png)

[2021-06-16 00:44] SwedishFisherman commented on #270
LinkedIn
![LinkedIn--Issue-270](https://user-images.githubusercontent.com/78985665/122140992-4736e080-ce01-11eb-95cd-6927bfa244ce.png)

[2021-06-16 00:48] SwedishFisherman commented on #270
Reddit
![Reddit---Issue-270](https://user-images.githubusercontent.com/78985665/122141281-da701600-ce01-11eb-9801-0afc6032b74e.png)

[2021-06-16 01:40] Chrisha1212 commented on #264
@SwedishFisherman - 800

[2021-06-16 16:29] Docebo-Netflix commented on #270
Here are the edits to the copy:

Instagram
![Instagram-01-Issue-270](https://user-images.githubusercontent.com/78985665/122257821-392aa380-ce85-11eb-8973-68128f9c0781.png)

![Instagram-02-Issue-270](https://user-images.githubusercontent.com/78985665/122257849-4051b180-ce85-11eb-927f-bf0352fe55bb.png)

[2021-06-16 16:29] Docebo-Netflix commented on #270
Facebook
![Facebook-Issue-270](https://user-images.githubusercontent.com/78985665/122257970-624b3400-ce85-11eb-9d7b-5889392db174.png)

[2021-06-16 16:30] Docebo-Netflix commented on #270
Linikedin
![LinkedIn--Issue-270](https://user-images.githubusercontent.com/78985665/122258007-6ecf8c80-ce85-11eb-8188-a963533201e1.png)

[2021-06-16 16:30] Docebo-Netflix commented on #270
Pinterest
![Pinterest-Issue-270](https://user-images.githubusercontent.com/78985665/122258039-7727c780-ce85-11eb-9472-f08bdcc82209.png)

[2021-06-16 16:30] Docebo-Netflix commented on #270
Reddit
![Reddit-Issue-270](https://user-images.githubusercontent.com/78985665/122258070-7f800280-ce85-11eb-81f5-b30c1e216033.png)

[2021-06-16 16:31] Docebo-Netflix commented on #270
Twitter
![Twitter--Issue-270](https://user-images.githubusercontent.com/78985665/122258151-93c3ff80-ce85-11eb-9b04-1aa8f2991e22.png)

[2021-06-16 22:51] buckyroberts opened #271 "Discord Logo Graphic"
**Task**
Create a circular coin graphic that we can use as our Discord logo. It should be relatively simple (no small text or fine details) since it will be displayed as a small icon on the left Discord menu.

**Image Specs**
Size: 512 x 512
Format: PNG with transparent background

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

![coin](https://user-images.github

[2021-06-17 01:05] buckyroberts commented on #232
@Chrisha1212 Payment Due

---

User: @Toledit
Amount: 400

[2021-06-17 01:05] Chrisha1212 opened #272 "Voice over"
We are looking for a voice-over artist for our Animated blog video.

- Narrate our overview blog Information
- Match the music to your voice

 This is the video that needs the audio re-recorded:

https://user-images.githubusercontent.com/8547538/122314958-f3de9400-cecd-11eb-8590-ec86cf9c3471.mp4

[2021-06-17 01:20] bojan-ilijevski opened #273 "Wordpress Blog Menu & Footer"
1. Create menu with internal and external links to thenewboston official website
2. Create Footer with links to all our social media
3. Have dark and light mode to the whole website

This issue is for certain developers that have access to our Wordpress.

[2021-06-17 02:04] #232 closed

[2021-06-17 03:46] bojan-ilijevski opened #274 "Wordpress Blog Homepage"
1. Have one active banner with the latest post.
2. On the right sidebar have this week's Trending Posts
3. Have a carousel slider with Hand-picked Curated Posts
4. Have a Tech News section
5. A section for Hand-picked Weekly Posts
6. A slider for Futured Guides
7. Most Recent Articles and a sidebar with Top Posts right now
8. Latest posts on our Instagram (Make it a sticky sidebar after you pass i

[2021-06-17 03:53] bojan-ilijevski opened #275 "Wordpress Blog, Blog Page"
1. Have the latest posts in column of two
2. On the right side have a sidebar with the top posts
3. Again, choose meta settings for all the categories

[2021-06-17 03:58] bojan-ilijevski opened #276 "Wordpress Blog Post page"
1. Have the Title, Image and all the text in centered middle
2. Have navigation like Previous Post, Next Post
3. Comment section, if someone wants to comment they're required to put email and username so we don't get bombarded by bots
4. Have a carousel with related posts
5. Again, choose meta settings for all the categories

[2021-06-17 04:49] buckyroberts commented on #238
@Chrisha1212 Payment Due

---

User: @kizzi789
Amount: 400

[2021-06-17 04:49] buckyroberts commented on #239
@Chrisha1212 Payment Due

---

User: @kizzi789
Amount: 400

[2021-06-17 04:49] buckyroberts commented on #252
@Chrisha1212 Payment Due

---

User: @kizzi789
Amount: 400

[2021-06-17 04:50] buckyroberts commented on #256
@Chrisha1212 Payment Due

---

User: @gligorovam
Amount: 400

[2021-06-17 10:15] SazidAhmed commented on #274
This this a WordPress content management task?
Would you prove us the theme?
Or we have to develop a WordPress theme from scratch with all of these functionalities ?

[2021-06-17 11:20] liefwerk commented on #274
Hi, I agree with Sazid that we need more information about these tasks. Should we make a plugin ? Do you use Gutenberg or are we going to make Shortcodes ?

Also the point n°9 isn't clear enough, could you reformulate/elaborate ? By meta settings do you mean taxonomies ?

[2021-06-17 12:15] SazidAhmed commented on #271
The Logo is here.
There are several versions with several colors.

https://drive.google.com/drive/folders/1pa-YM0NANdYNPor6Cm9oaFlQ86rmO_bC

My account number : a5dbcded3501291743e0cb4c6a186afa2c87a54f4a876c620dbd68385cba80d0

[2021-06-17 13:17] stweyel commented on #271
![Logo](https://user-images.githubusercontent.com/25363181/122403347-99514080-cf7e-11eb-9a9f-8261f4f1ef2d.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-06-17 13:21] IvanDanilov66 commented on #276
Done!
Account number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-17 13:22] IvanDanilov66 commented on #275
Done!
Account number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-17 13:25] bojan-ilijevski commented on #274
We already have devs that have login info from our wordpress account. They have done most of these issues, I'm making them so they can get paid. That's why I didn't go much into detail with them.

[2021-06-17 13:26] IvanDanilov66 commented on #274
Done!
Account number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-17 13:26] IvanDanilov66 commented on #273
Done!
Account number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-17 14:37] hayderkharrufa commented on #272
Can you upload the video without the voice narration?

[2021-06-17 15:20] hayderkharrufa commented on #272
WAV: https://drive.google.com/file/d/1uEWlhIfyehkGFKq5Ah9HPuxAb1wvdf9k/view?usp=sharing
MP3: https://drive.google.com/file/d/1YbNpOtS0t_avtumPCXGzrmHXiLNKlKm8/view?usp=sharing

a785e45bb8135caeff2bc34fa45a8e36213eed17421bcc0c2c03f4abb736cc11

[2021-06-18 10:56] Chrisha1212 opened #277 "Project Logo for "tnbc Paper Wallet ""
Task
Create a logo for the **tnbc Paper Wallet** project that will be displayed alongside the project on
[thenewboston.com/projects](thenewboston.com/projects)

**Image Specs**
**Size:** 64 x 64
**Format:** JPG or PNG

**Links**

[**Project Proposal**](https://github.com/thenewboston-developers/Projects/issues/244)

[2021-06-18 23:38] Toledit commented on #277
64x
![tnb paper wallet2-1](https://user-images.githubusercontent.com/27518021/122624097-65be0580-d0a7-11eb-974b-35562e4547f5.jpg)
295x
![tnb paper wallet h2-1](https://user-images.githubusercontent.com/27518021/122624120-766e7b80-d0a7-11eb-8eb8-5242af3dacf4.jpg)

c2c867ba352e754ab17d228871105edfcc1c0d33f32f57ff76823055041b417a

[2021-06-19 02:10] bojan-ilijevski opened #278 "Wordpress Blog Menu Revision"
Make a revision on the menu to look like the following image
![image](https://user-images.githubusercontent.com/58598872/122628077-4679a500-d0b4-11eb-9ba5-d1a146bab1c5.png)

[2021-06-19 06:55] #238 closed

[2021-06-19 06:58] #239 closed

[2021-06-19 06:58] Chrisha1212 commented on #256
can you include your account number?

[2021-06-19 07:01] #252 closed

[2021-06-19 17:07] stweyel commented on #277
![Paper Wallet](https://user-images.githubusercontent.com/25363181/122650155-95195480-d131-11eb-85ac-510a66461f24.png)
94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-06-20 22:27] bojan-ilijevski opened #279 "Crypto Quote"
**Task**
The description will be "Build your dreams"

Due date: 06.22.2021
We need an infographic for: Facebook, Instagram, Twitter, Reddit, Linkedin and Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designing graphics, block

[2021-06-20 22:28] bojan-ilijevski opened #280 "Crypto Story"
**Task**
The description will be "Kristoffer Koch – Millionaire by Accident"

Due date: 06.22.2021
We need an infographic for: Facebook, Instagram, Twitter, Reddit, Linkedin, Pintrest and Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, buildi

[2021-06-20 22:28] bojan-ilijevski opened #281 "Crypto Questions"
**Task**
The description will be "Did you know there are many ways crypto is mined? Proof of work, proof of stake and proof of value are three options out of many"

Due date: 06.22.2021
We need an infographic for: Facebook, Instagram, Twitter, Reddit, Linkedin, Pintrest and Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Co

[2021-06-20 22:29] bojan-ilijevski opened #282 "Good 'ol infographic"
**Task**
The description will be " Difference between Banks and Crypto:
*Transfer speed
*Transaction fees
*Anonymity"

Due date: 06.22.2021
We need an infographic for: Facebook, Instagram, Twitter, Reddit, Linkedin, Pintrest and Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a va

[2021-06-20 22:38] bojan-ilijevski opened #283 "Short Clip/GIF's"
**Task**
We need a giff or a short clip about how TNBC works.

We need this for Facebook, Twitter, LinkedIn and Instagram. Also the payment will be changed accordingly.

Due Date: 06.25.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building a

[2021-06-20 22:44] Docebo-Netflix commented on #280
I’ll work on this issue

[2021-06-21 00:30] Docebo-Netflix commented on #283
I’ll start working on these

[2021-06-21 00:31] stoimenov00 commented on #281
I am working on this one

[2021-06-21 00:36] stoimenov00 commented on #282
I will work on this one

[2021-06-21 02:57] Docebo-Netflix commented on #280
Facebook
![Facebook-Issue-280](https://user-images.githubusercontent.com/78985665/122701257-af226800-d201-11eb-8c64-71a13f82e704.png)

[2021-06-21 02:57] Docebo-Netflix commented on #280
Instagram
![Instagram-Issue-280](https://user-images.githubusercontent.com/78985665/122701291-bfd2de00-d201-11eb-9371-169b2b019152.png)

[2021-06-21 02:57] Docebo-Netflix commented on #280
Linkedin
![LinkedIn-Issue-280](https://user-images.githubusercontent.com/78985665/122701313-cd886380-d201-11eb-8f49-dec602295528.png)

[2021-06-21 07:08] Docebo-Netflix commented on #280
Reddit
![Reddit-Issue-280](https://user-images.githubusercontent.com/78985665/122720855-d2aada00-d224-11eb-89a5-65559b30cc6d.png)

[2021-06-21 07:09] Docebo-Netflix commented on #280
Twitter
![Twitter-Issue-280](https://user-images.githubusercontent.com/78985665/122720928-e7876d80-d224-11eb-894f-6b82f8f2c2bd.png)

[2021-06-21 07:55] Toledit commented on #279
working on this 🔨

[2021-06-21 13:13] stoimenov00 commented on #281
Facebook

<img width="1200" alt="#281 Facebook" src="https://user-images.githubusercontent.com/78659181/122767577-19d7b000-d2a3-11eb-805d-aa3d2dad5579.png">

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:13] stoimenov00 commented on #281
Pineterest
<img width="1000" alt="#281 Pineterest" src="https://user-images.githubusercontent.com/78659181/122767702-34aa2480-d2a3-11eb-8542-d820ea0b5a81.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:14] stoimenov00 commented on #281
Twitter
<img width="1200" alt="#281 Twitter" src="https://user-images.githubusercontent.com/78659181/122767828-55727a00-d2a3-11eb-9ee3-b7bdbdfc9239.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:15] stoimenov00 commented on #281
Linkedin
<img width="1080" alt="#266 Linkedin" src="https://user-images.githubusercontent.com/78659181/122767901-658a5980-d2a3-11eb-921a-9e5087ff8a55.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:16] stoimenov00 commented on #281
Twitter
<img width="1200" alt="#281 Twitter" src="https://user-images.githubusercontent.com/78659181/122768178-a2eee700-d2a3-11eb-80ed-0d0efb63114d.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:22] stoimenov00 commented on #281
Instagram
<img width="1080" alt="#281 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/122768225-ae421280-d2a3-11eb-90dc-171e382b11bf.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 13:23] stoimenov00 commented on #281
Reddit
![Reddit](https://user-images.githubusercontent.com/78659181/122769033-7d161200-d2a4-11eb-9b75-b71c4d523972.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 18:15] Docebo-Netflix commented on #280
Pinterest
![Pinterest-Issue-280](https://user-images.githubusercontent.com/78985665/122808571-eb95a880-d281-11eb-9078-3cd7e481157a.png)

[2021-06-21 23:09] stoimenov00 commented on #282
Linkedin
![Linkedin](https://user-images.githubusercontent.com/78659181/122838410-5680c700-d2f6-11eb-910b-f60f4626e07f.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 23:09] stoimenov00 commented on #282
Facebook
<img width="1200" alt="#281 Facebook (1)" src="https://user-images.githubusercontent.com/78659181/122838547-8c25b000-d2f6-11eb-9ec1-3f3628b8c3af.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 23:10] stoimenov00 commented on #282
Pinterest
<img width="1000" alt="#281 Pineterest" src="https://user-images.githubusercontent.com/78659181/122838584-a3649d80-d2f6-11eb-9683-0852d7bb9cf1.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 23:11] stoimenov00 commented on #282
Twitter
![Twitter](https://user-images.githubusercontent.com/78659181/122838609-b4151380-d2f6-11eb-93fd-6e6994ae6832.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 23:12] stoimenov00 commented on #282
Reddit
![Did you know there are many ways crypto is mined (3)](https://user-images.githubusercontent.com/78659181/122838688-e1fa5800-d2f6-11eb-9790-fdef1a18cbaa.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-21 23:12] stoimenov00 commented on #282
Instagram
![Instagram](https://user-images.githubusercontent.com/78659181/122838728-f8a0af00-d2f6-11eb-9475-bb24a6850e38.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-22 01:50] #273 closed

[2021-06-22 01:56] bojan-ilijevski commented on #274
For approval and future references

![image](https://user-images.githubusercontent.com/58598872/122850568-ba62ba00-d30d-11eb-90d6-c1af6b358859.png)

[2021-06-22 01:57] #274 closed

[2021-06-22 01:57] bojan-ilijevski commented on #275
For approval and future references

![image](https://user-images.githubusercontent.com/58598872/122850568-ba62ba00-d30d-11eb-90d6-c1af6b358859.png)

[2021-06-22 01:57] bojan-ilijevski commented on #276
For approval and future references

![image](https://user-images.githubusercontent.com/58598872/122850568-ba62ba00-d30d-11eb-90d6-c1af6b358859.png)

[2021-06-22 01:57] bojan-ilijevski commented on #278
For approval and future references

![image](https://user-images.githubusercontent.com/58598872/122850568-ba62ba00-d30d-11eb-90d6-c1af6b358859.png)

[2021-06-22 01:58] bojan-ilijevski commented on #273
For approval and future references

![image](https://user-images.githubusercontent.com/58598872/122850568-ba62ba00-d30d-11eb-90d6-c1af6b358859.png)

[2021-06-22 01:59] #275 closed

[2021-06-22 02:01] #276 closed

[2021-06-22 02:23] Toledit commented on #279
Facebook
![facebook #279](https://user-images.githubusercontent.com/27518021/122852736-c5bbe280-d319-11eb-8f85-ec18e2f169ab.jpg)

Instagram
![Instagram #279 ](https://user-images.githubusercontent.com/27518021/122852744-c9e80000-d319-11eb-8cb2-db22984c96df.jpg)

Twitter
![twitter-#279](https://user-images.githubusercontent.com/27518021/122852754-cf454a80-d319-11eb-9c31-a18874dbdd00.jpg)

Reddit
![

[2021-06-23 01:51] bojan-ilijevski opened #284 "Crypto Advice"
**Task**
The description will be "Crypto is changing everything: insurance, banking, corporate registration, ownership of assets"

Due date: 06.24.2021
We need an infographic for: Facebook, Instagram, Twitter, Reddit, Linkedin, Pintrest and Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins

[2021-06-24 01:37] bojan-ilijevski opened #285 "Real world"
**Task**
This infographic will have a link to our newly launched blog and will say:  "How useful is crypto currency in the real world? "

Due to: 06.27.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a v

[2021-06-24 01:38] bojan-ilijevski opened #286 "Inspirational Post"
**Task**
The description will be: "Kingsley Advani – Selling All Worldly Possessions"

Due to: 06.27.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps,

[2021-06-24 01:39] bojan-ilijevski opened #287 "Crypto tips and hacks"
**Task**
The description will be "Build, Learn, Grow"

Due to: 06.27.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designing graphics, blockchain
r

[2021-06-24 01:40] bojan-ilijevski opened #288 "Crypto Question"
**Task**
The description will be "Do you have thenewboston account manager already?

Due to: 06.27.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, de

[2021-06-24 01:42] bojan-ilijevski opened #289 "Motivational content"
**Task**
The description will be "Discover your potential with thenewboston."

Due to: 06.27.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designin

[2021-06-24 01:48] stoimenov00 commented on #289
I will work on this

[2021-06-24 11:42] Prawesh-MAGNETIC commented on #289
![Discover](https://user-images.githubusercontent.com/71756108/123257024-4263e200-d50f-11eb-863f-89fc9f95794a.png)

size: 1080 x 1080

[2021-06-24 11:43] stoimenov00 commented on #288
I will work on this

[2021-06-24 11:44] stoimenov00 commented on #285
I will work on this one

[2021-06-24 14:40] Prawesh-MAGNETIC commented on #287
![Build, Learn, Grow](https://user-images.githubusercontent.com/71756108/123282109-d80b6b80-d527-11eb-9fdb-4e57b77ea792.png)

size: 1080 x 1080px
🤞🏼 🤞🏼
A/c:   b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-06-25 14:39] Toledit commented on #286
Facebook
![Facebook #287](https://user-images.githubusercontent.com/27518021/123441224-47429780-d5dc-11eb-860c-0a1cdd92d2a6.jpg)

Instagram
![Instagram #287](https://user-images.githubusercontent.com/27518021/123441155-36922180-d5dc-11eb-8ba5-22576bfbb21d.jpg)

Twitter
![Twitter #287](https://user-images.githubusercontent.com/27518021/123441115-2bd78c80-d5dc-11eb-9cb8-204cfad974ef.jpg)

LinkedIn
!

[2021-06-25 15:56] stoimenov00 commented on #288
Facebook
<img width="1200" alt="#288 Facebook" src="https://user-images.githubusercontent.com/78659181/123452318-97baf480-d5de-11eb-9433-fe6c069ae5a4.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 15:57] stoimenov00 commented on #288
Instagram
<img width="1080" alt="#288 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/123452385-a7d2d400-d5de-11eb-8782-d367c78e681f.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 15:59] stoimenov00 commented on #288
Pineterest
<img width="1000" alt="#288 Pinterest" src="https://user-images.githubusercontent.com/78659181/123452763-08faa780-d5df-11eb-9f75-1e0ebe418b94.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 16:00] stoimenov00 commented on #288
Linkedin
<img width="1080" alt="#288 Linkedin" src="https://user-images.githubusercontent.com/78659181/123452974-42cbae00-d5df-11eb-97e1-33e487920d05.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 16:01] stoimenov00 commented on #288
Twitter
<img width="1200" alt="#288 Twitter" src="https://user-images.githubusercontent.com/78659181/123453036-5414ba80-d5df-11eb-9897-ccbdf9aab15d.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 16:02] stoimenov00 commented on #288
Reddit
![reddit](https://user-images.githubusercontent.com/78659181/123453118-6ee72f00-d5df-11eb-9503-0692063df70c.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:24] stoimenov00 commented on #284
Facebook
<img width="1200" alt="#284 Facebook" src="https://user-images.githubusercontent.com/78659181/123462672-e2426e00-d5ea-11eb-9b20-d83c88b4aa18.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:24] stoimenov00 commented on #284
Instagram
<img width="1080" alt="#284 INSTAGRAM" src="https://user-images.githubusercontent.com/78659181/123462728-f71f0180-d5ea-11eb-8683-bfeaccc9b93f.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:24] stoimenov00 commented on #284
Linkedin
<img width="1080" alt="#284 Linkedin" src="https://user-images.githubusercontent.com/78659181/123462764-02722d00-d5eb-11eb-8338-98fcdda7029c.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:25] stoimenov00 commented on #284
Pinterest
<img width="1000" alt="#284 Pineterest" src="https://user-images.githubusercontent.com/78659181/123462797-0aca6800-d5eb-11eb-81df-1f361c900172.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:25] stoimenov00 commented on #284
Twitter
<img width="1200" alt="#284 Twitter" src="https://user-images.githubusercontent.com/78659181/123462833-16b62a00-d5eb-11eb-84b2-3565a1cc7d3c.png">
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-25 17:26] stoimenov00 commented on #284
Reddit
![Reddit](https://user-images.githubusercontent.com/78659181/123462902-2afa2700-d5eb-11eb-8955-16f1b436199a.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-06-26 02:07] IvanDanilov66 commented on #278
Done!
Acc number: f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-26 03:23] xrviv commented on #289
![tnb](https://user-images.githubusercontent.com/44260360/123500428-9df9b100-d670-11eb-9f67-38a1041d4b18.png)
Original photo Unsplash License (FREE)
Photo by [<a href="https://unsplash.com/@nadineshaabana?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nadine Shaabana</a> on <a href="https://unsplash.com/s/photos/discover?utm_source=unsplash&utm_medium=referral&utm_content=cred

[2021-06-26 05:57] Chrisha1212 commented on #281
@stoimenov00 - 4800

[2021-06-26 05:57] Chrisha1212 commented on #281
@stoimenov00 - 4800

[2021-06-26 06:09] Chrisha1212 commented on #165
@stoimenov00  Are you still working on this one?

[2021-06-26 06:09] #264 closed

[2021-06-26 06:11] Chrisha1212 commented on #266
@stoime-4800

[2021-06-26 06:14] Chrisha1212 commented on #267
@Toledit -4800

[2021-06-26 06:16] Chrisha1212 commented on #268
@stoimenov00 - 4800

[2021-06-26 06:18] Chrisha1212 commented on #269
@SwedishFisherman -4800

[2021-06-26 06:20] Chrisha1212 commented on #270
@SwedishFisherman -4800

[2021-06-26 08:38] Docebo-Netflix commented on #283
FB, Instagram
https://www.dropbox.com/s/oozey92zmb8bvh9/FB_Insta_1080x1080.mp4?dl=0

[2021-06-26 08:38] Docebo-Netflix commented on #283
Twitter
https://www.dropbox.com/s/x79xaydft4za3o4/Twitter_1920x1080.mp4?dl=0

[2021-06-26 13:53] #281 closed

[2021-06-26 13:54] #282 closed

[2021-06-26 14:01] #266 closed

[2021-06-26 14:10] #268 closed

[2021-06-26 14:14] #269 closed

[2021-06-26 14:17] #270 closed

[2021-06-26 14:19] #267 closed

[2021-06-26 16:26] clarkycode commented on #289
![Motivational Content](https://user-images.githubusercontent.com/76585195/123519439-e7341a00-d6dd-11eb-9656-e4b7aeb402a1.png)

Original photo by [Ali Pazani](https://www.pexels.com/@alipazani) on [Pexels.com](https://www.pexels.com/photo/photo-of-woman-wearing-turtleneck-top-2777898/)

Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

[2021-06-26 19:59] buckyroberts opened #290 "Have project logos created"
Have project logos created for any of these projects that are missing logos https://thenewboston.com/projects You can use them "Project Logo" template here https://github.com/thenewboston-developers/Marketing/issues/new/choose

Once they are all completed, message me ( @buckyroberts ) and I can add them to the website.

[2021-06-26 20:05] #172 closed

[2021-06-26 21:49] stweyel commented on #290
What about these closed issue logos. Are they all rejected?

https://github.com/thenewboston-developers/Marketing/issues/248
https://github.com/thenewboston-developers/Marketing/issues/246
https://github.com/thenewboston-developers/Marketing/issues/245
https://github.com/thenewboston-developers/Marketing/issues/235
https://github.com/thenewboston-developers/Marketing/issues/234

...

[2021-06-27 01:55] bojan-ilijevski opened #291 "Wordpress Blog"
1. Fix this so the underline doesn't extend passed the text.
![image](https://user-images.githubusercontent.com/58598872/123530499-42283a00-d6fb-11eb-9057-2e9546c2b26b.png)
2. Display these images as equal heights
![image](https://user-images.githubusercontent.com/58598872/123530506-61bf6280-d6fb-11eb-9dc4-8f1608494481.png)

*This is for the wordpress devs only

[2021-06-27 03:03] clarkycode commented on #287
![Crypto Tips   Hacks](https://user-images.githubusercontent.com/76585195/123531429-204ca880-d737-11eb-8bd0-d04e1b2de252.png)
Original Photo by <a href="https://unsplash.com/@artic_studios?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Öberg</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

Account No

[2021-06-27 04:10] Docebo-Netflix commented on #287
Twitter
![Twitter-Issue-287](https://user-images.githubusercontent.com/78985665/123532546-d9bd6680-d6c2-11eb-89b2-dd06e6703245.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-06-27 05:38] buckyroberts opened #292 "Create App Icon for Mobile App"
**Task**
Create an app icon for the mobile app.

**Image Specs**
Size: 1080 x 1080px
Format: PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-06-27 08:24] ThejeshBommisetty commented on #165
I would lik to take this one

[2021-06-27 11:30] Thewimpykid18 commented on #292
![thenewboston](https://user-images.githubusercontent.com/34057001/123542768-180d6100-d769-11eb-8ab2-834010f4621e.png)

[2021-06-27 17:05] ThejeshBommisetty commented on #165
![3 ways to earn TNBC](https://user-images.githubusercontent.com/47267710/123553238-a8fb3100-d797-11eb-9798-ae4ef8394ba1.jpg)

Account Number : adf0b5529eb8dc52ff636f1fd8c43d1d59e077a88def0014476a03d6cd301e26

hey Bucky, I can add any description as well if u provide.

[2021-06-27 18:06] ThejeshBommisetty commented on #292
![mobile app logo](https://user-images.githubusercontent.com/47267710/123555030-c5e83200-d7a0-11eb-86da-c7a6e87c0e81.png)

Account Number : adf0b5529eb8dc52ff636f1fd8c43d1d59e077a88def0014476a03d6cd301e26

[2021-06-27 18:22] Docebo-Netflix commented on #285
Reddit
![Reddit-Issue-285](https://user-images.githubusercontent.com/78985665/123555329-f6e14c00-d739-11eb-89bc-053e7ed4d403.png)

[2021-06-27 18:23] Docebo-Netflix commented on #285
Twitter
![Twitter-Issue-285](https://user-images.githubusercontent.com/78985665/123555343-0a8cb280-d73a-11eb-99e8-12eb6fb64c85.png)

[2021-06-27 18:40] IvanDanilov66 commented on #291
Done !
Acc number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-06-28 15:28] clarkycode commented on #165
Is this task still open?

Here's an output though

Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![3 Ways to Earn](https://user-images.githubusercontent.com/76585195/123662896-753c0c00-d868-11eb-8fcc-d7c182ae5859.png)

Background Photo by <a href="https://unsplash.com/@blueskin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Terry</a> on <a href=

[2021-06-28 22:59] Docebo-Netflix commented on #285
Pinterest
![Pinterest-Issue-285](https://user-images.githubusercontent.com/78985665/123713610-a21cfe80-d829-11eb-868b-a79a83f98d87.png)

[2021-06-29 07:34] Docebo-Netflix commented on #285
Linkedin
![LinkedIn-Issue-285](https://user-images.githubusercontent.com/78985665/123756372-b4bb2600-d871-11eb-91c5-3005e56f6a66.png)

[2021-06-29 08:09] #291 closed

[2021-06-29 21:12] Docebo-Netflix commented on #285
Facebook
![Facebook-Issue-285](https://user-images.githubusercontent.com/78985665/123867993-f5538780-d8e3-11eb-9678-977531c3e627.png)

[2021-06-29 21:57] Docebo-Netflix commented on #285
Instagram
![Instagram-Issue-285](https://user-images.githubusercontent.com/78985665/123872695-4b2b2e00-d8ea-11eb-94f6-454fe92af23c.png)

[2021-06-30 00:14] IvanDanilov66 commented on #278
@Chrisha1212

[2021-06-30 07:16] Docebo-Netflix commented on #287
Reddit
![Reddit-Issue-285](https://user-images.githubusercontent.com/78985665/123918142-6e7cca00-d938-11eb-8079-16bc54cd1518.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-06-30 07:17] Docebo-Netflix commented on #287
Linkedin

![LinkedIn-Issue-285](https://user-images.githubusercontent.com/78985665/123918220-818f9a00-d938-11eb-807e-fc3ca3d6a617.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-06-30 07:35] Docebo-Netflix commented on #287
Pinterest
![Pinterest-Issue-285](https://user-images.githubusercontent.com/78985665/123920625-0380c280-d93b-11eb-9ec7-7ac2da4e349e.png)

[2021-06-30 10:56] Danks13 commented on #292
![Untitled-1](https://user-images.githubusercontent.com/86719468/123949201-35754180-d99a-11eb-9c05-f8b0d82ef144.png)

[2021-06-30 14:06] mwelwankuta commented on #292
![NewBostonAppIcon](https://user-images.githubusercontent.com/64831126/123974391-6bea9680-d971-11eb-8445-974069a5e398.png)

[2021-06-30 14:07] mwenku commented on #292
Account Number: 34830d09415a8479c28723528e87eb5e20721addac21522255b04b5baa8046c5

![TheNewBostonAppIcon](https://user-images.githubusercontent.com/64831126/124250878-24cbe500-dada-11eb-845c-f4816083e856.png)

[2021-06-30 18:18] buckyroberts opened #293 "Have graphics created for our new job postings"
We are going to be hiring 2 new roles:

- [Head of Human Resources](https://github.com/thenewboston-developers/Website/issues/1906)
- [Recruiting Lead](https://github.com/thenewboston-developers/Website/issues/1907)

Please have graphics created for both of these jobs so that we can promote them on social media once they are added to the website.

[2021-06-30 18:41] buckyroberts opened #294 "Reddit research"
We are looking into creating subreddits with the goal of promoting crypto adoption and uniting crypto communities. These subreddits will be welcoming to many different crypto communities, not just ours. These will include subreddits for:
- Posting jobs / employment opportunities that are paid crypto
- Trading items for crypto (a crypto flea market), similar to https://www.reddit.com/r/tnbctrade/ b

[2021-06-30 18:49] buckyroberts opened #295 "Reddit banner graphic"
**Task**
Create a new banner for our subreddit here https://www.reddit.com/r/thenewboston/

**Image Specs**
Size: 4,000 x 128px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-07-01 02:33] Chrisha1212 commented on #279
@Toledit - 4000

[2021-07-01 02:48] #279 closed

[2021-07-01 03:24] Chrisha1212 commented on #272
@hayderkharrufa - 4000

[2021-07-01 03:34] Chrisha1212 opened #296 "Informative Video"
**Task**
Attached Voice over to the Video

**Background**

- Match the music to the Narrator Voice **https://github.com/thenewboston-developers/Marketing/issues/272**

[2021-07-01 04:02] Prawesh-MAGNETIC commented on #295
![Building a Better Economy](https://user-images.githubusercontent.com/71756108/124096731-7cd1ff80-da78-11eb-8d02-0983b08132e5.png)

![thenewboston](https://user-images.githubusercontent.com/71756108/124062848-22707900-da4f-11eb-9a89-fbbef8416ce8.png)

![thenewboston (2)](https://user-images.githubusercontent.com/71756108/124063164-d40faa00-da4f-11eb-8b1b-bc12d420c6e2.png)

size: 4000 x 128

[2021-07-01 04:41] Prawesh-MAGNETIC commented on #296
https://user-images.githubusercontent.com/71756108/124065282-133ffa00-da54-11eb-8f00-b9322917321f.mp4

[2021-07-01 23:50] buckyroberts commented on #256
@gligorovam ^

[2021-07-02 00:21] #272 closed

[2021-07-02 00:22] Chrisha1212 commented on #296
@Prawesh-MAGNETIC -800

[2021-07-02 00:24] Chrisha1212 commented on #296
@Prawesh-MAGNETIC  account number?

[2021-07-02 00:25] Chrisha1212 commented on #165
@clarkycode -800

[2021-07-02 00:28] #165 closed

[2021-07-02 02:28] buckyroberts commented on #271
@Chrisha1212 Payment Due
---
User: @stweyel
Amount: 800

[2021-07-02 02:29] buckyroberts commented on #277
@Chrisha1212 Payment Due
---
User: @Toledit
Amount: 800

[2021-07-02 02:29] #171 closed

[2021-07-02 02:32] #173 closed

[2021-07-02 02:37] #277 closed

[2021-07-02 02:39] Chrisha1212 commented on #280
@SwedishFisherman - 4800

[2021-07-02 02:41] #280 closed

[2021-07-02 02:44] #271 closed

[2021-07-02 02:51] Chrisha1212 commented on #283
@SwedishFisherman -3000

[2021-07-02 02:54] #283 closed

[2021-07-02 02:58] buckyroberts opened #297 "Now Hiring Graphic for "Technical Recruiter""
**Task**
Create a graphic that will be used on social media to help recruiting for our "Technical Recruiter" position.

**Job Post**
To apply: https://thenewboston.com/openings/Engineering/senior-python-django-developer

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-07-02 02:58] Chrisha1212 commented on #284
@stoimenoVoo- 4800

[2021-07-02 02:59] buckyroberts opened #298 "Now Hiring Graphic for "Senior Python Developer""
**Task**
Create a graphic that will be used on social media to help recruiting for our "Senior Python Developer" position.

**Job Post**
To apply: https://thenewboston.com/openings/Community/technical-recruiter

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-07-02 03:04] #284 closed

[2021-07-02 03:16] buckyroberts commented on #295
@Chrisha1212 Payment Due
---
User: @Prawesh-MAGNETIC
Amount: 1000

[2021-07-02 03:18] buckyroberts opened #299 "Now Hiring Graphic for "Head of Human Resources""
**Task**
Create a graphic that will be used on social media to help recruiting for our "Head of Human Resources" position.

**Job Post**
To apply: https://thenewboston.com/openings/Community/human-resources-head

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-07-02 03:18] buckyroberts opened #300 "Now Hiring Graphic for "Recruiting Lead""
**Task**
Create a graphic that will be used on social media to help recruiting for our "Recruiting Lead" position.

**Job Post**
To apply: https://thenewboston.com/openings/Community/recruiting-lead

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

**Assets**
Feel free to use any of our assets at: https://thenewboston.com/assets

[2021-07-02 03:20] Chrisha1212 commented on #285
@SwedishFisherman - 4800

[2021-07-02 03:20] buckyroberts commented on #293
@Chrisha1212 I wrote these up

[2021-07-02 03:20] #293 closed

[2021-07-02 03:22] #285 closed

[2021-07-02 03:23] Chrisha1212 commented on #286
@Toledit - 4800

[2021-07-02 03:26] #286 closed

[2021-07-02 03:27] Chrisha1212 commented on #287
@clarkycode -800
@SwedishFisherman - 4000

[2021-07-02 03:31] #287 closed

[2021-07-02 03:34] Chrisha1212 commented on #295
@Prawesh-MAGNETIC  account number?

[2021-07-02 03:35] Chrisha1212 commented on #288
@stoimenov00 -4800

[2021-07-02 03:38] #288 closed

[2021-07-02 03:40] Chrisha1212 commented on #289
@Prawesh-MAGNETIC -800
@clarkycode -800
@fongsai-yuk -800

[2021-07-02 03:40] Chrisha1212 commented on #289
@Prawesh-MAGNETIC -account number

[2021-07-02 03:43] Chrisha1212 commented on #292
@mwelwankuta - 800

[2021-07-02 03:43] Chrisha1212 commented on #292
@mwelwankuta - can you include your account number?

[2021-07-02 04:19] Prawesh-MAGNETIC commented on #296
@Chrisha1212 my account number: b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd
Sorry,  :D :)

[2021-07-02 04:20] Prawesh-MAGNETIC commented on #295
@Chrisha1212   my account number: b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd
Sorry, :D :)

[2021-07-02 04:22] Prawesh-MAGNETIC commented on #289
@Chrisha1212   my account number: b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd
Sorry :D :)

[2021-07-02 05:01] buckyroberts opened #301 "Graphic to get Colfax back on the team"
**Task**
Create a graphic so fantastic, so marvelous, that it will convince Colfax to rejoin the team. Here is his LinkedIn photo. He didn't give me "explicit permission" to use it, but he probably would so feel free to include it in the graphic in any way:

![1517425547501](https://user-images.githubusercontent.com/8547538/124223061-d6a5ea00-dab7-11eb-996a-f0d506a7fa4f.jpeg)

**Image Specs**
Size

[2021-07-02 06:41] buckyroberts opened #302 "Blog post tickets"
Please write up blog post tickets for these blog topics. They should work well in targeting our audience in Nigeria and the Philippines. Also, you can use [this as a template](https://github.com/thenewboston-developers/Marketing/blob/master/.github/ISSUE_TEMPLATE/blog-post.md).

1. When did cryptocurrency start ?
2. Can cryptocurrency crash ?
3. How to buy cryptocurrency ?
4. Are cryptocurrency ta

[2021-07-02 09:07] mwenku commented on #292
@Chrisha1212  I have added the account number

[2021-07-02 12:59] Prawesh-MAGNETIC commented on #301
![COLFAX](https://user-images.githubusercontent.com/71756108/124277998-550b9600-db63-11eb-80ab-212e77618d1f.png)

[2021-07-02 13:19] Prawesh-MAGNETIC commented on #301
![TheEconomyBuilder](https://user-images.githubusercontent.com/71756108/124280262-1a572d00-db66-11eb-9116-32b7eb4f6345.png)

Love and Respect to Colfax: The Economy Builder.

[2021-07-02 14:08] hussu010 commented on #301
me thinking of making a meme to get Colfax back:
![download](https://user-images.githubusercontent.com/55182298/124285232-75405280-db6d-11eb-9148-72abdc5b3e85.png)

I talk memes no graphics :(
![download (1)](https://user-images.githubusercontent.com/55182298/124286122-57bfb880-db6e-11eb-8ffc-0fc755467ecb.png)

Violence ain't answer but still
![download (2)](https://user-images.githubusercontent.c

[2021-07-02 15:02] Prawesh-MAGNETIC commented on #298
![Senior Python Developer](https://user-images.githubusercontent.com/71756108/124293672-86409200-db74-11eb-9bd3-29ae00f9b2a1.png)

A/C:  b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-07-02 16:13] clarkycode commented on #297
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Technical Recruiter](https://user-images.githubusercontent.com/76585195/124301917-0fff5800-db93-11eb-96ff-a4e20a5594a3.png)

[2021-07-02 16:30] clarkycode commented on #298
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Python Developer](https://user-images.githubusercontent.com/76585195/124340755-035a1e80-dbea-11eb-9a89-4ef16ccc1547.png)

[2021-07-02 16:53] Prawesh-MAGNETIC commented on #300
![Recruiting Lead](https://user-images.githubusercontent.com/71756108/124306474-120dea80-db84-11eb-9c82-b1997c09f839.png)

A/c:    b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-07-02 17:11] Docebo-Netflix commented on #298
Twitter
![Twitter-Issue-298](https://user-images.githubusercontent.com/78985665/124308234-d809fd80-db1d-11eb-8420-d9c0d2bb0baf.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-07-02 17:12] Docebo-Netflix commented on #298
Pinterest
![Pinterest-Issue-298](https://user-images.githubusercontent.com/78985665/124308292-f40d9f00-db1d-11eb-86bf-3f72dfe12515.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-07-02 17:13] Docebo-Netflix commented on #298
FB, Instagram, LinkedIn
![FB_Insta_Linkedin-Issue-298](https://user-images.githubusercontent.com/78985665/124308381-0f78aa00-db1e-11eb-9b90-2e2efa0b2027.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-07-02 17:27] clarkycode commented on #300
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Recruiting Lead](https://user-images.githubusercontent.com/76585195/124309740-c5370d80-db9d-11eb-83f2-9a18941a7bae.png)

[2021-07-02 17:38] clarkycode commented on #299
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Head of Human Resources 2](https://user-images.githubusercontent.com/76585195/124362493-ca608f00-dc67-11eb-8c15-27f30c8c8c8a.png)

[2021-07-02 17:38] Prawesh-MAGNETIC commented on #301
![ElonMusk Just Tweeteeeeeddd](https://user-images.githubusercontent.com/71756108/124310841-67e59100-db8a-11eb-8e0d-6df9686053f8.png)

It's a tweet by ElonMusk!

[2021-07-02 18:33] Prawesh-MAGNETIC commented on #297
![Technical Recruiter](https://user-images.githubusercontent.com/71756108/124315719-fad5f980-db91-11eb-8015-564f635cbcaa.png)

A/c:  b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-07-02 19:23] stweyel commented on #301
some background info would be nice...

[2021-07-02 22:33] stweyel commented on #300
![social recruit lead3](https://user-images.githubusercontent.com/25363181/124333957-f14e9080-db95-11eb-98a6-9da8dcfed55e.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-07-02 22:34] buckyroberts commented on #301
@Chrisha1212 Payment Due

---

User: @Prawesh-MAGNETIC
Amount: 1600

and

User: @hussu010
Amount: 1600

[2021-07-02 22:49] stweyel commented on #299
![social human res](https://user-images.githubusercontent.com/25363181/124334783-7dfa4e00-db98-11eb-897f-a0e4facf1013.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-07-02 23:44] stweyel commented on #298
![social pyth dev](https://user-images.githubusercontent.com/25363181/124336858-1b0cb500-dba0-11eb-850d-09c10bfe57b2.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-07-02 23:54] stweyel commented on #292
@Chrisha1212 is this closed?

[2021-07-03 02:29] Prawesh-MAGNETIC commented on #301
My A/c no:  b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd   :pray: :partying_face: :magnet:

[2021-07-03 03:40] #295 closed

[2021-07-03 03:49] #289 closed

[2021-07-03 03:50] Chrisha1212 commented on #289
@fongsai-yuk whats your account number?

[2021-07-03 03:56] Chrisha1212 commented on #301
@hussu010 what's your account number?

[2021-07-03 04:12] hussu010 commented on #301
22d0f0047b572a6acb6615f7aae646b0b96ddc58bfd54ed2775f885baeba3d6a

[2021-07-03 04:13] xrviv commented on #289
Hi, :)

89e2f209951ab820aecca89e3af91093ca5e3a42387b6fa06cdf5dc30d57649e

[2021-07-03 10:15] manishram commented on #301
Just a backup in case **Colfax** didn't get convinced with the previous ones. 😂😂

![colfax](https://user-images.githubusercontent.com/22790904/124350789-5943bc00-dc14-11eb-8675-82d85b1697ea.PNG)

[2021-07-03 11:16] stweyel commented on #297
![social tech recruit](https://user-images.githubusercontent.com/25363181/124352512-d06f5500-dc00-11eb-92c9-78a9eaa05767.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-07-03 12:41] mwenku commented on #292
Account Number : 34830d09415a8479c28723528e87eb5e20721addac21522255b04b5baa8046c5

[2021-07-03 13:27] #296 closed

[2021-07-03 13:32] Chrisha1212 commented on #297
@clarkycode - 800

[2021-07-03 13:35] #297 closed

[2021-07-03 13:38] Chrisha1212 commented on #298
@clarkycode - 800
@SwedishFisherman - 800

[2021-07-03 13:43] #298 closed

[2021-07-03 13:44] Chrisha1212 commented on #299
@clarkycode - 800

[2021-07-03 13:47] #299 closed

[2021-07-03 13:48] Chrisha1212 commented on #300
@clarkycode - 800

[2021-07-03 13:50] #300 closed

[2021-07-03 16:37] Chrisha1212 commented on #299
@clarkycode - 800

[2021-07-03 23:36] shalombrain commented on #302
Hi @buckyroberts @Chrisha1212 how can I work on this task?

I'd love to be assigned to it and also love to know how much would be paid for each blog?

[2021-07-05 02:58] Chrisha1212 commented on #289
@bojan-ilijevski  this one is for facebook and insta

[2021-07-05 02:59] Chrisha1212 commented on #289
this one will be for Twitter and Linked in

[2021-07-05 02:59] Chrisha1212 commented on #289
for pinterest and reddit

[2021-07-05 03:31] NotDinnerbonee commented on #292
![Uploading image_2021-07-05_091556.png…]()

[2021-07-05 03:37] NotDinnerbonee commented on #292
![tnbmobilelogo](https://user-images.githubusercontent.com/86939817/124414440-7a222380-dd72-11eb-834c-bdfaa8152f7c.png)

[2021-07-05 04:17] buckyroberts commented on #302
Sure @shalombrain - that would be great :-) We don't have the individual issues written up for them yet. When we do you can leave a comment with your final post and your account number there. Here are the criteria for each post:

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to

[2021-07-05 06:23] shalombrain commented on #302
Okay, I will start working on them ASAP, do I have to be assigned or something?

[2021-07-05 13:08] Chrisha1212 commented on #302
I'll make a github issue for each one check it on Marketing Task

[2021-07-05 13:12] Chrisha1212 opened #303 "Blog Post: When did cryptocurrency start ?"
**Blog Topic**
Explain how cryptocurrency started in the early 1980s

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 13:18] Chrisha1212 opened #304 "Blog Post: Can cryptocurrency crash?"
**Blog Topic**
Explain in your opinion do you think cryptocurrency can crash? Yes or No and why?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read

[2021-07-05 13:19] shalombrain commented on #303
On it

[2021-07-05 13:19] shalombrain commented on #304
On it

[2021-07-05 13:26] Chrisha1212 opened #305 "Blog Post: How to buy cryptocurrency?"
**Blog Topic**
Explain how people by coins from other cryptocurrency.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 13:29] Chrisha1212 opened #306 "Blog Post: Are cryptocurrency taxed?"
**Blog Topic**
Explain whether the cryptocurrency has been tax.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Inc

[2021-07-05 13:32] Chrisha1212 opened #307 "Blog Post: How is cryptocurrency created ?"
**Blog Topic**
Explain how cryptocurrency create and who created it.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 13:38] Chrisha1212 opened #308 "Blog Post: Which cryptocurrency should I invest in ?"
**Blog Topic**
Explain your thought on which cryptocurrency you want like to put your investment.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read

[2021-07-05 13:45] Chrisha1212 opened #309 "Blog Post: Where cryptocurrency is stored?"
**Blog Topic**
Explain how cryptocurrency stored

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Include title
- In

[2021-07-05 13:47] Chrisha1212 opened #310 "Blog Post: 3 cryptocurrencies with potential"
**Blog Topic**
Explain which of 3 cryptocurrencies has potential years from now.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include w

[2021-07-05 13:50] Chrisha1212 opened #311 "Blog Post: Can crypto-currencies be hacked?"
**Blog Topic**
Explain if crypto-currencies can be hacked in any way.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 13:54] Chrisha1212 opened #312 "Blog Post: Crypto-currency without fees: what you need to know!"
**Blog Topic**
Explain how crypto-currency works without fees.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Inclu

[2021-07-05 13:58] Chrisha1212 opened #313 "Blog Post: Cryptocurrency vs token"
**Blog Topic**
Explain the difference between Cryptocurrency and Token
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 13:59] Chrisha1212 opened #314 "Blog Post: Cryptocurrency vs stocks"
**Blog Topic**
Explain the difference between Cryptocurrency vs Stocks
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it

[2021-07-05 14:01] Chrisha1212 opened #315 "Blog Post: Comparative : crypto currency vs traditional bank currency"
**Blog Topic**
Compare the difference between cryptocurrency and traditional bank currency.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
-

[2021-07-05 14:02] Chrisha1212 opened #316 "Blog Post: All about the crypto-currency ban in Nigeria"
**Blog Topic**
Explain the reason why the government ban crypto-currency in Nigeria.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Includ

[2021-07-05 14:03] Chrisha1212 opened #317 "Blog Post: How does cryptocurrency trading work ?"
**Blog Topic**
Explain how trading works in cryptocurrency.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Include

[2021-07-05 14:07] Chrisha1212 opened #318 "Blog Post: Which trading platform is best for Cryptocurrency?"
**Blog Topic**
Explain how trading platforms work and tell us which one is the best for cryptocurrency.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include

[2021-07-05 14:11] Chrisha1212 opened #319 "Blog Post: Top 9 Cryptocurrency exchange list."
**Blog Topic**
Write down the top 9 cryptocurrency exchange explain each one.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who w

[2021-07-05 14:15] Chrisha1212 opened #320 "Blog Post: Is Cryptocurrency regulated in the Philippines?"
**Blog Topic**
Explain how cryptocurrency works in the Philippines isn't regulated?
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include

[2021-07-05 14:17] Chrisha1212 opened #321 "Blog Post: How does cryptocurrency value increase?"
**Blog Topic**
Explain how cryptocurrency increases its value.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Incl

[2021-07-05 14:19] Chrisha1212 opened #322 "Blog Post: What is the best crypto exchange in the Philippines?"
**Blog Topic**
find out what is the best crypto exchange in the Philippines and How does it work.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read

[2021-07-05 14:22] Chrisha1212 opened #323 "Blog Post: 10 ways to start cryptocurrency trading in 2021."
**Blog Topic**
Explain the 10 ways how to start cryptocurrency trading in 2021.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include wh

[2021-07-05 14:25] Chrisha1212 opened #324 "Blog Post: Are cryptocurrency exchanges regulated?"
**Blog Topic**
Explain if all cryptocurrency exchanges regulated rt cryptocurrency trading in 2021.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include re

[2021-07-05 14:26] Chrisha1212 opened #325 "Blog Post: Tips to make money with Cryptocurrency."
**Blog Topic**
Explain different ways to make money with cryptocurrency.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote

[2021-07-05 14:32] Chrisha1212 opened #326 "Blog Post: Are there day trading limits on Crypto?"
**Blog Topic**
Explain if there is a day of trading limits crypto
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- In

[2021-07-05 14:35] Chrisha1212 opened #327 "Blog Post: The best Crypto exchanges in Nigeria."
**Blog Topic**
What is the best crypto exchange in Nigeria, if there's any and explain how it works?
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include re

[2021-07-05 14:36] Chrisha1212 opened #328 "Blog Post: Is cryptocurrency a good investment?"
**Blog Topic**
Is cryptocurrency a good investment? why?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Include ti

[2021-07-05 14:37] Chrisha1212 opened #329 "Blog Post: The most popular cryptocurrency apps in Nigeria."
**Blog Topic**
what is the most popular cryptocurrency apps in Nigeria. Explain how does it work?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read

[2021-07-05 14:38] Chrisha1212 opened #330 "Blog Post: Tips to buy Cryptocurrency in the Philippines?"
**Blog Topic**
List down tips on how to buy cryptocurrency in the Philippines.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who

[2021-07-05 14:40] Chrisha1212 opened #331 "Blog Post: How can I trade Cryptocurrency in the Philippines?"
**Blog Topic**
List down and explain how people can trade cryptocurrency in the Philippines.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time

[2021-07-05 14:43] Chrisha1212 opened #332 "Blog Post: The best Crypto trading platforms in Nigeria."
**Blog Topic**
Look up what's best crypto trading platform in Nigeria and explain how it works.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read t

[2021-07-05 14:56] Chrisha1212 opened #333 "Blog Post: Cryptocurrency trading strategy for beginners."
**Blog Topic**
List down what are the strategies to trade for beginners?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote

[2021-07-05 14:58] Chrisha1212 opened #334 "Blog Post: The top 10 Cryptocurrencies in 2021."
**Blog Topic**
List down the Top 10 cryptocurrencies and explain some updates on why they are in the top 10.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- In

[2021-07-05 15:00] Chrisha1212 opened #335 "Blog Post: 5 Crypto companies in the Philippines you should know."
**Blog Topic**
List down five crypto companies in the Philippines and explain what are those and who are they?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
-

[2021-07-05 15:01] Chrisha1212 opened #336 "Blog Post: Which Crypto has the most transactions per day?"
**Blog Topic**
Which Crypto has the most transactions per day? explain more in details

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Inc

[2021-07-05 15:07] Chrisha1212 opened #337 "Blog Post: 5 Reasons why Cryptocurrency is the future of finance."
**Blog Topic**
Give us 5 Reasons why Cryptocurrency is the future of finance. explain why?

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
-

[2021-07-05 15:07] Chrisha1212 opened #338 "Blog Post: The 5 benefits of trading Cryptocurrencies."
**Blog Topic**
Explain 5 benefits of trading Cryptocurrencies.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include who wrote it
- Incl

[2021-07-05 15:11] Chrisha1212 opened #339 "Blog Post: Step by step guide to investing in Cryptocurrency."
**Blog Topic**
List down the Step by step guide to investing in Cryptocurrency.

**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include wh

[2021-07-05 15:12] Chrisha1212 opened #340 "Blog Post: The top 3 things to consider when buying cryptocurrency."
**Blog Topic**
List down the top 3 things to consider when buying cryptocurrency.
**Blog Criteria**
- Must be 600-800 words
- Please do research to make sure the information stated is thoroughly accurate
- Please make sure content is understandable to someone who knows nothing about crypto
- Must be proofread by another person
- Must not contain copyrighted material
- Include read time
- Include w

[2021-07-05 15:12] #302 closed

[2021-07-06 09:52] C3lxius commented on #316
@Chrisha1212 I'd like to work on this task. I'm Nigerian, so at the heart of the issue and very well versed in essay and content writing.

[2021-07-06 15:39] Chrisha1212 commented on #287
@Prawesh-MAGNETIC-800. please your account number here

[2021-07-06 15:49] Chrisha1212 commented on #287
will be posted this in Insta

[2021-07-06 15:49] Chrisha1212 commented on #287
will be posted this in reddit

[2021-07-06 19:58] stweyel commented on #292
https://github.com/thenewboston-developers/Marketing/issues/292#issuecomment-873307973 ?

[2021-07-06 22:18] shalombrain commented on #303
Hey, @Chrisha1212 should the post be sent in doc format, pdf, or posted as a regular text?
@buckyroberts

[2021-07-07 19:29] Gstar219 commented on #340
Good day, This is a link to the task above.
https://docs.google.com/document/d/176bDC7el3C8xFCQmTjju1pJ2Ck2S3RIw9oRi5dZOllA/edit?usp=sharing

[2021-07-07 19:35] Gstar219 commented on #340
It an Orginal Content is written by me Makinde Gbolahan Samuel
Discord name: Makinde Gbolahan #0268
Proofread by Olowu Daniel

[2021-07-07 19:58] Gstar219 commented on #340
Good Day here is the Doc Link to the blog Post above
https://docs.google.com/document/d/176bDC7el3C8xFCQmTjju1pJ2Ck2S3RIw9oRi5dZOllA/edit?usp=sharing

[2021-07-08 09:39] shalombrain commented on #303
https://docs.google.com/document/d/1gvq9zFRnztszsKVOUd9_RoHwdLpOiYhk1Zu79z__gLY/edit?usp=sharing

[2021-07-08 09:40] shalombrain commented on #303
https://docs.google.com/document/d/1gvq9zFRnztszsKVOUd9_RoHwdLpOiYhk1Zu79z__gLY/edit?usp=sharing

CC: @Chrisha1212 @buckyroberts

[2021-07-08 09:49] shalombrain commented on #304
https://docs.google.com/document/d/1PL2U9QAxgfw2nqMLgJM7tZgnjugGVanTGlj38UNsrd4/edit?usp=sharing

CC: @Chrisha1212 @buckyroberts

[2021-07-08 09:57] shalombrain commented on #305
https://docs.google.com/document/d/1rD4hZEB8Q9PEbvPOIovh8vKzHPIrgIEGuOekimuBf8k/edit?usp=sharing

CC @Chrisha1212 @buckyroberts

[2021-07-08 11:47] C3lxius commented on #317
Hi there. I would like to work on this.

[2021-07-10 06:14] xrviv commented on #340
**Writer:** Daniel Andrei Romero Garcia
**Word Count:** 804
**Read time:** 3 minutes 57 seconds
**Proofread by:** Still looking
**Images license:** Unsplash License (_similar to Creative Commons 0 License. No Attribution Required. No restrictions_)

https://docs.google.com/document/d/1Xv6x-Y-Xrp_MgpZDg3xF2qUL-ZPeFd7KTseRHcsTKTc/edit?usp=sharing

**Question**: By the way, where do we publish this?

[2021-07-12 04:53] manishram commented on #340
@fongsai-yuk we'll publish your blog to our blog website: blog.thenewboston.com

[2021-07-12 04:54] xrviv commented on #340
Awesome! And nice to meet you!

[2021-07-12 09:29] xrviv commented on #339
Is 800 words a hard limit? I'll try to squeeze the content within, but I'm afraid it may become a little thin.

[2021-07-12 12:17] xrviv commented on #339
**Writer:** Daniel Andrei Romero Garcia
**Word** Count: 761
**Read time**: 3 minutes 48 seconds
**Proofread by**: Still looking
**Images license:** Unsplash License (similar to Creative Commons 0 License. No Attribution Required. No restrictions)

https://docs.google.com/document/d/1UhI0J0QCq78ffpGNZsQ7sbzozugSvck4Vy7H5CQvoLs/edit?usp=sharing

Account Number: 89e2f209951ab820aecca89e3af91093ca5e3a

[2021-07-13 12:08] Chrisha1212 commented on #316
Sure

[2021-07-13 12:09] Chrisha1212 commented on #317
Sure :)

[2021-07-13 12:21] Chrisha1212 commented on #339
Nice Work @fongsai-yuk

[2021-07-13 12:21] Chrisha1212 commented on #339
@fongsai-yuk -1000

[2021-07-13 12:21] Chrisha1212 commented on #340
@fongsai-yuk -1000

[2021-07-13 12:22] xrviv commented on #340
Thank you!

[2021-07-13 12:31] #340 closed

[2021-07-13 12:31] #339 closed

[2021-07-13 14:52] C3lxius commented on #316
Below is the Google doc link
 https://docs.google.com/document/d/1Yy87FLC_qOpFhASgNQsG-HyAuipEWaIIhnBHZUHej4Y/edit?usp=drivesdk

TNBC Account: e7a94744dc66b24e679d2f0d118c64ba168c700c7896f21bc05884f03f54e0c0

Thanks.

[2021-07-13 22:35] bojan-ilijevski opened #341 "Still very early"
**Task**
The description will be "Learning about crypto in 2021 is like learning about the internet in 1994. This is just the beginning."
Due to: 07.15.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a v

[2021-07-13 22:35] bojan-ilijevski opened #342 "Jeremy Gardner"
**Task**
Description will be "Jeremy Gardner – Building a Crypto Empire"
Due to date: 07.15.2021
We will need this for: Facebook, Instagram, Twitter, LinkedIn, Pintrest, Reddit

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designing

[2021-07-13 22:44] Docebo-Netflix commented on #341
I'll start working on this issue

[2021-07-14 06:56] Docebo-Netflix commented on #341
Facebook
![Facebook-Issue-341](https://user-images.githubusercontent.com/78985665/125577164-826ea668-fef6-406c-9fc7-81fd9fa69cc4.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-07-14 06:57] Docebo-Netflix commented on #341
Instagram
![Instagram-Issue-341](https://user-images.githubusercontent.com/78985665/125577256-00b691a5-c1f3-4863-80c7-6dfdd1e92bd7.png)

[2021-07-14 06:57] Docebo-Netflix commented on #341
Linkedin
![LinkedIn-Issue-341](https://user-images.githubusercontent.com/78985665/125577329-5b0bc81b-e01b-4f23-a724-01bd5fbb6d6f.png)

[2021-07-14 10:37] Toledit commented on #342
Facebook
![Facebook-#342](https://user-images.githubusercontent.com/27518021/125630986-be24e1f0-91df-41a3-89bb-2f3b3a3f7a78.jpg)
Instagram
![Instagram-#342](https://user-images.githubusercontent.com/27518021/125631037-15cec16c-8ff9-4e0d-841d-1acbe4d6c9eb.jpg)
Twitter
![twitter-#342](https://user-images.githubusercontent.com/27518021/125608544-9547c3eb-6575-47fd-9661-ef1775633428.jpg)
LinkedIn
![Li

[2021-07-15 00:12] bojan-ilijevski opened #343 "Crypto Story"
**Task**
The description will be "Mr. Smith – The Person You Want to Be"
Due to: 07.18.2021
We need this for: Facebook, Instagram, Twitter, Reddit, Pintrest and LinkedIn

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designing graphi

[2021-07-15 00:12] bojan-ilijevski opened #344 "Crypto Advice"
**Task**
The description will be "Financial Intelligence Pays Off. Dream it. Achieve it"
Due to: 07.18.2021
We need this for: Facebook, Instagram, Twitter, Reddit, Pintrest and LinkedIn

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps,

[2021-07-15 09:55] Docebo-Netflix commented on #341
Reddit
![Reddit-Issue-341](https://user-images.githubusercontent.com/78985665/125768962-c6fb9328-7bae-407e-8434-66af35b53b26.png)

[2021-07-15 10:05] Docebo-Netflix commented on #341
Twitter
![Twitter-Issue-341](https://user-images.githubusercontent.com/78985665/125770276-6013a94d-a5ed-427f-80a3-c4a745b6c429.png)

[2021-07-15 23:05] Docebo-Netflix commented on #341
Pinterest

![Pinterest-Issue-341](https://user-images.githubusercontent.com/78985665/125868617-06757c01-4ff7-4a63-9f6e-2a0caf0cfaf4.png)

[2021-07-17 03:04] bojan-ilijevski opened #345 "Marketing Specialist India"
**Task**
Infographic for a job opening about Marketing Specialist in India
Here are the requirements even though I don't know if they should in the infographic, that's up to you

Responsibilities:
- Administrative duties
- Drive traffic from social media
- Execute marketing strategy
- Create reports on marketing performance
- Work with the marketing team to manage brand and marketing initiatives
T

[2021-07-17 03:04] bojan-ilijevski opened #346 "Marketing Specialist Nigeria"
**Task**
Infographic for a job opening about Marketing Specialist in Nigeria
Here are the requirements even though I don't know if they should in the infographic, that's up to you

Responsibilities:
- Administrative duties
- Drive traffic from social media
- Execute marketing strategy
- Create reports on marketing performance
- Work with the marketing team to manage brand and marketing initiatives

[2021-07-17 09:00] Docebo-Netflix commented on #344
Reddit
![Reddit-Issue-344](https://user-images.githubusercontent.com/78985665/126032137-cc979db2-0d24-48f7-8209-5657ffd42ae9.png)

Account#
a3e779bdb64f28307177244ac2b42e209519c163cdd18c92c303a93642dcc00f

[2021-07-17 09:06] Docebo-Netflix commented on #344
Facebook
![Facebook-Issue-344](https://user-images.githubusercontent.com/78985665/126032111-1b958eb2-65da-4ff6-a2d4-427afad9e0ba.png)

[2021-07-17 09:21] Docebo-Netflix commented on #344
Instagram
![Instagram-Issue-344](https://user-images.githubusercontent.com/78985665/126032467-d25c7509-db4c-4a1e-9d58-b51dc263c32c.png)

[2021-07-17 12:39] Prawesh-MAGNETIC commented on #345
![Marketing Specialist India](https://user-images.githubusercontent.com/71756108/126037133-6c811147-c126-4b93-9dab-4adb44684cbb.png)

![Marketing Specialist in India](https://user-images.githubusercontent.com/71756108/126054551-6da65a4c-b669-4f63-8c4e-6260bad1c1e2.png)

A/c   No:    b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-07-17 22:34] Toledit commented on #346
![nigeria](https://user-images.githubusercontent.com/27518021/126050795-9568cff7-348c-4e9d-a429-07b2d2c69824.jpg)
c2c867ba352e754ab17d228871105edfcc1c0d33f32f57ff76823055041b417a

[2021-07-18 15:01] stoimenov00 commented on #343
I will work on this one

[2021-07-19 02:27] Toledit commented on #345
![India](https://user-images.githubusercontent.com/27518021/126418630-5c9deb06-7b7e-4fae-8dd8-20dc792977a0.jpg)
c2c867ba352e754ab17d228871105edfcc1c0d33f32f57ff76823055041b417a

[2021-07-19 03:21] Docebo-Netflix commented on #344
LinkedIn
![LinkedIn-Issue-344](https://user-images.githubusercontent.com/78985665/126097983-73d338f6-c27f-4e3f-8939-119ce9f9e001.png)

[2021-07-19 03:24] Docebo-Netflix commented on #344
Pinterest
![Pinterest-Issue-344](https://user-images.githubusercontent.com/78985665/126098205-1f910804-97b8-4688-9055-f59ed1e1d23a.png)

[2021-07-19 04:01] Docebo-Netflix commented on #344
Twitter
![Twitter-Issue-344](https://user-images.githubusercontent.com/78985665/126100854-1855924a-049a-4e8d-8c01-782a4084c50c.png)

[2021-07-21 03:37] stoimenov00 commented on #343
Facebook
![Facebook](https://user-images.githubusercontent.com/78659181/126427252-14269bfc-0cd8-403c-a387-737b44801426.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 03:37] stoimenov00 commented on #343
Twitter
![Twitter](https://user-images.githubusercontent.com/78659181/126427277-4d97fd76-2576-485c-86eb-97ee60c9dab1.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 03:38] stoimenov00 commented on #343
Instagram
![Instagram](https://user-images.githubusercontent.com/78659181/126426886-86396585-71f8-4ba1-bc19-413fd7f676fb.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 03:39] stoimenov00 commented on #343
LinkedIn
![Pintrest](https://user-images.githubusercontent.com/78659181/126426953-c3ee2dcc-2111-4bc7-95ac-c866b4e29c42.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 03:40] stoimenov00 commented on #343
Pinterest
![Untitled design](https://user-images.githubusercontent.com/78659181/126427047-11c18778-1c33-45ad-84cd-bef3358b74bb.png)
a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 04:04] stoimenov00 commented on #343
Reddit
![image](https://user-images.githubusercontent.com/78659181/126429162-76dc2927-ef07-48ce-94c8-28192ef1262a.png)

a04ee5f815bbd53b4d4d99d2bcd4a987b73ccb08b5d84477108d29283e0afd79

[2021-07-21 19:32] clarkycode commented on #345
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Marketing Specialist India](https://user-images.githubusercontent.com/76585195/126548642-3edb1708-a742-473c-8d61-64e35e5deabb.png)

[2021-07-21 19:34] clarkycode commented on #346
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Hiring Marketing Specialist Nigeria](https://user-images.githubusercontent.com/76585195/126548842-189fe89d-be22-4678-b2be-af5a12cc0a07.png)

[2021-07-24 06:01] Chrisha1212 commented on #346
@Toledit - 800

[2021-07-24 06:05] #346 closed

[2021-07-24 06:06] Chrisha1212 commented on #344
@SwedishFisherman - 4800

[2021-07-24 06:08] #344 closed

[2021-07-24 06:09] Chrisha1212 commented on #345
@Toledit - 800

[2021-07-24 06:12] #345 closed

[2021-07-24 06:12] Chrisha1212 commented on #343
@stoimenov00 - 4800

[2021-07-24 06:14] #343 closed

[2021-07-24 06:16] Chrisha1212 commented on #342
@Toledit - 4800

[2021-07-24 06:18] #342 closed

[2021-07-24 06:19] Chrisha1212 commented on #341
@SwedishFisherman - 4800

[2021-07-24 06:20] #341 closed

[2021-07-24 06:26] #301 closed

[2021-07-24 06:28] #292 closed

[2021-07-24 06:31] Chrisha1212 commented on #256
@gligorovam

[2021-07-24 06:32] Chrisha1212 commented on #278
@IvanDanilov66 - 1000

[2021-07-24 06:33] #278 closed

[2021-07-24 06:49] Chrisha1212 opened #347 "Project Logo for "Automated Freelancing Service""
**Task**
Create a logo for the "Automated Freelancing Service" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:51] Chrisha1212 opened #348 "Project Logo for "Hierarchical deterministic (HD) Wallets for TNB""
**Task**
Create a logo for the "Hierarchical deterministic (HD) Wallets for TNB" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http:/

[2021-07-24 06:52] Chrisha1212 opened #349 "Project Logo for "Kotlin Multiplatform Mobile SDK""
**Task**
Create a logo for the "Kotlin Multiplatform Mobile SDK
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:53] Chrisha1212 opened #350 "Project Logo for "TNB Discord Security""
**Task**
Create a logo for the "TNB Discord Security
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:54] Chrisha1212 opened #351 "Project Logo for "Restaurants Self-Order App""
**Task**
Create a logo for the "Restaurants Self-Order App
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:55] Chrisha1212 opened #352 "Project Logo for "TNB Discord Shop""
**Task**
Create a logo for the "TNB Discord Shop
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:56] Chrisha1212 opened #353 "Project Logo for "TNB Heroes""
**Task**
Create a logo for the "TNB Heroes
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 06:56] Chrisha1212 opened #354 "Project Logo for "TNB List""
**Task**
Create a logo for the "TNB List
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:22] Chrisha1212 opened #355 "Project Logo for "TNBAnon""
**Task**
Create a logo for the "TNBAnon" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:23] Chrisha1212 opened #356 "Project Logo for "TNBC Analytics""
**Task**
Create a logo for the "TNBC Analytics
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:24] Chrisha1212 opened #357 "Project Logo for "TNBC POS""
**Task**
Create a logo for the "TNBC POS
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:26] Chrisha1212 opened #358 "Project Logo for "TNBC Treasure Hunt""
**Task**
Create a logo for the "TNBC Treasure Hunt
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:27] Chrisha1212 opened #359 "Project Logo for "TNBGem""
**Task**
Create a logo for the "TNBGem" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:27] Chrisha1212 opened #360 "Project Logo for "aiotnb - Python network library""
**Task**
Create a logo for the "aiotnb - Python network library
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:28] Chrisha1212 opened #361 "Project Logo for "tnbGo""
**Task**
Create a logo for the "tnbGo" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:29] Chrisha1212 opened #362 "Project Logo for "tnbeverything.com""
**Task**
Create a logo for the "tnbeverything.com
" project that will be displayed alongside the project on
[thenewboston.com/projects](https://thenewboston.com/projects)

**Image Specs**
Size: 64 x 64 | 256 x 256 | 512 x 512
Format: JPG or PNG

**Examples**
![](https://i.imgur.com/7TU6Lhb.jpg)
![](https://i.imgur.com/WKx6YxK.jpg)

**Links**
- [Project Proposal](http://example.com)

[2021-07-24 07:31] #290 closed

[2021-07-24 10:06] xrviv commented on #361
![Issue 361 - tnbgo](https://user-images.githubusercontent.com/44260360/126865144-003f322e-8a6d-4784-8e0c-dc617a0d511c.png)

Account number: 89e2f209951ab820aecca89e3af91093ca5e3a42387b6fa06cdf5dc30d57649e

[2021-07-24 10:10] stweyel commented on #362
Not sure why this issue is opened. There was already a logo provided.
https://github.com/stweyel/tnbuser.com-tnbeverything.com/blob/main/logo.png
![grafik](https://user-images.githubusercontent.com/25363181/126865219-40e96860-fc54-46fe-8c4e-42872bf46607.png)

Project Account
3a115cb6d87edb299e0ca95393465d171768bb5c2c08c4b27e1cfb4c3141f8ec

[2021-07-24 10:24] shalombrain commented on #361
![Frame 1](https://user-images.githubusercontent.com/20520142/126865594-29cbd794-5d1c-4da2-8762-dfb4651a3618.png)
![Frame 2](https://user-images.githubusercontent.com/20520142/126865597-cab82b81-bdc3-4e34-bb40-921f65688d20.png)
![Frame 3](https://user-images.githubusercontent.com/20520142/126865598-c2252308-c21c-41ba-a610-00c0af9a22fa.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f795

[2021-07-24 10:35] shalombrain commented on #360
![Frame 4](https://user-images.githubusercontent.com/20520142/126865874-133a7e0f-74c3-4e17-91f3-2dc8a8a6cc0a.png)
![Frame 5](https://user-images.githubusercontent.com/20520142/126865876-96beb411-90b8-4989-ada3-9ae9f828c939.png)
![Frame 6](https://user-images.githubusercontent.com/20520142/126865877-e67b0b64-6ffc-426d-a282-6f5ff933bbd8.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f795

[2021-07-24 10:43] shalombrain commented on #359
![Frame 7](https://user-images.githubusercontent.com/20520142/126866058-f01c8238-0488-4af4-b41e-aade3e71c5eb.png)
![Frame 8](https://user-images.githubusercontent.com/20520142/126866060-7960bf0f-bf43-4061-be67-ed20ee7b5ac3.png)

Acoount Number: 51552a8b3b32cd3389908f8dbbb8f23856898f7953b3c27e7ab50b073d15330f

[2021-07-24 10:57] shalombrain commented on #357
![Group 1](https://user-images.githubusercontent.com/20520142/126866372-77d41523-5149-43a4-bd13-2f387119baa2.png)
![Group 3](https://user-images.githubusercontent.com/20520142/126866373-7d76b73d-4fed-4016-a848-d7ec270698bb.png)
![Vector](https://user-images.githubusercontent.com/20520142/126866374-ddb17e33-cc80-47f1-a03c-cf24bda01b66.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f7953

[2021-07-24 11:01] shalombrain commented on #355
![Frame 9](https://user-images.githubusercontent.com/20520142/126866446-b50dd3fb-cff6-48fe-9ec6-3390f0364baa.png)
![Frame 12](https://user-images.githubusercontent.com/20520142/126866447-165f07fe-763e-4640-881d-df84b9a40bdb.png)
![Frame 13](https://user-images.githubusercontent.com/20520142/126866448-d66c62a6-7800-4e70-afd1-2179a0996d8d.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f7

[2021-07-24 11:07] shalombrain commented on #356
![Frame 14](https://user-images.githubusercontent.com/20520142/126866583-66392a06-ad12-4a65-ad38-27f66d0a1ed0.png)
![Frame 15](https://user-images.githubusercontent.com/20520142/126866585-bb831430-ee59-4f53-b315-a777ef5c471c.png)
![Frame 16](https://user-images.githubusercontent.com/20520142/126866587-b2c9cde1-3601-4422-b38e-754bd2cb4997.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f

[2021-07-24 11:21] shalombrain commented on #354
![Frame 14](https://user-images.githubusercontent.com/20520142/126866883-4a5a60e0-1d1e-4752-9a35-effa88b210d6.png)
![Frame 15](https://user-images.githubusercontent.com/20520142/126866886-db5811ae-ed0a-458d-814e-fda953eec048.png)
![Frame 16](https://user-images.githubusercontent.com/20520142/126866887-1610adfb-1c31-4c22-aca1-aa93b52dc285.png)

Account Number: 51552a8b3b32cd3389908f8dbbb8f23856898f

[2021-07-24 11:43] stweyel commented on #349
![Kotlin64](https://user-images.githubusercontent.com/25363181/126867316-5d90c44f-aea4-4f27-881c-9603575ec251.png)
![Kotlin256](https://user-images.githubusercontent.com/25363181/126867317-bd5ab29f-2b1e-4c62-86d7-2ac7735ce65c.png)
![Kotlin512](https://user-images.githubusercontent.com/25363181/126867318-5d65d256-2e14-4637-8e62-d3cb53df6d03.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2

[2021-07-24 12:12] stweyel commented on #357
![tnbcpos64](https://user-images.githubusercontent.com/25363181/126868501-4f58d104-b8b8-4290-b9be-a1bb988a6e48.png)
![tnbcpos256](https://user-images.githubusercontent.com/25363181/126868503-550c18a1-8dd9-4246-b796-d0750b6039bc.png)
![tnbcpos512](https://user-images.githubusercontent.com/25363181/126868504-2949e935-e558-4795-b281-141cc8ef489a.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c

[2021-07-24 12:58] stweyel commented on #361
![Go64](https://user-images.githubusercontent.com/25363181/126869140-b89ac582-5874-41d6-bebc-def21907a48e.png)
![Go256](https://user-images.githubusercontent.com/25363181/126869142-c1f20b8d-b67e-4fd5-bdea-46ed0ff25b13.png)
![Go512](https://user-images.githubusercontent.com/25363181/126869143-5cd64698-403e-4b9a-97fe-93b26de3906e.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c4917d

[2021-07-24 16:03] stweyel commented on #358
![treasure hunt64](https://user-images.githubusercontent.com/25363181/126874243-9dfe0b73-5a13-4141-a2db-4307170dfdbd.png)
![treasure hunt256](https://user-images.githubusercontent.com/25363181/126874245-785b8fa6-7712-4a60-9737-547debd11c53.png)
![treasure hunt512](https://user-images.githubusercontent.com/25363181/126874246-acd0ae68-b596-47fa-8ca4-bad5b243634d.png)

94161c7f2d143eb387aab95b1ee4d33

[2021-07-24 16:38] stweyel commented on #355
![Anon64](https://user-images.githubusercontent.com/25363181/126875155-103e4226-5239-4dc6-9356-ee836c3f1f4a.png)
![Anon256](https://user-images.githubusercontent.com/25363181/126875156-5e3f601a-195a-46ae-aacd-b31275ee411b.png)
![Anon512](https://user-images.githubusercontent.com/25363181/126875157-32f30e8d-16d6-4c84-a547-699b649d8b80.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148

[2021-07-24 17:25] stweyel commented on #356
![analytics64](https://user-images.githubusercontent.com/25363181/126876410-007c8870-bfac-40cc-948d-0ea5c8ce02c2.png)
![analytics256](https://user-images.githubusercontent.com/25363181/126876411-c4666fd4-d129-4814-822a-a5c349070a3b.png)
![analytics512](https://user-images.githubusercontent.com/25363181/126876412-ec72a772-3226-4b86-86b2-61c97759f945.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63

[2021-07-24 18:00] Prawesh-MAGNETIC commented on #358
![TNBC Treasure Hunt](https://user-images.githubusercontent.com/71756108/126877245-0f243ad6-d55f-46c3-a4a8-cc4424adbff5.png)

🤞🏼🤞🏼🤞🏼😁

A/C No:   b343d70bdc4bf593513bb30788b3c96f9ba2b78850534298c13d640c47832ecd

[2021-07-24 22:04] stweyel commented on #353
![hero64](https://user-images.githubusercontent.com/25363181/126882024-a0e92eee-9da1-4663-9462-5fbb21e8edd1.png)
![hero256](https://user-images.githubusercontent.com/25363181/126882025-fd339ebe-0999-4d8e-a256-1decd14615f7.png)
![hero512](https://user-images.githubusercontent.com/25363181/126882026-f2e27ac8-11c7-4db5-bd58-7f933f988ad4.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148

[2021-07-24 22:52] stweyel commented on #350
![discord security64](https://user-images.githubusercontent.com/25363181/126882753-ef34584d-55ba-4d95-aa61-e4f6ff789559.png)
![discord security256](https://user-images.githubusercontent.com/25363181/126882754-2b39feb7-8cc3-4b8c-8b3d-15b3a2f54015.png)
![discord security512](https://user-images.githubusercontent.com/25363181/126882755-3e39ad12-9092-4c49-bed4-331df8448fea.png)

94161c7f2d143eb387aab9

[2021-07-24 23:44] stweyel commented on #360
![python network64](https://user-images.githubusercontent.com/25363181/126883452-ff7eb90b-ef4f-4fa6-ab62-c7cc2e38834c.png)
![python network256](https://user-images.githubusercontent.com/25363181/126883453-b996947e-c03f-43f5-994b-924dd57bec7c.png)
![python network512](https://user-images.githubusercontent.com/25363181/126883454-2010f76d-02b7-493b-832f-76684d4c0cb3.png)

94161c7f2d143eb387aab95b1ee4

[2021-07-25 03:07] bojan-ilijevski opened #363 "Don't be afraid to jump, we believe in you!"
**Task**
The description will be "Don't be afraid to jump, we believe in you!"
We need it for Facebook, Instagram, Twitter, LinkedIn, Pintrest and Reddit
Due Date: 07.28.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designing g

[2021-07-25 03:07] bojan-ilijevski opened #364 "Invest wisely"
**Task**
The description will be "Only ever invest money you can afford to lose."
We need it for Facebook, Instagram, Twitter, LinkedIn, Pintrest and Reddit
Due Date: 07.28.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
able to earn coins through a variety of ways such as fixing bugs, building apps, designin

[2021-07-25 03:07] bojan-ilijevski opened #365 "The future is what we make it. Lets push the world in a better direction."
**Task**
The description will be "The future is what we make it. Lets push the world in a better direction."
We need it for Facebook, Instagram, Twitter, LinkedIn, Pintrest and Reddit
Can you work on this first because we need it for the 27th Due Date: 07.26.2021

**Background**
We are an open source development community and are building our own cryptocurrency called "coins". Contributors are
abl

[2021-07-25 04:02] clarkycode commented on #363
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Don't be Afraid to Jump](https://user-images.githubusercontent.com/76585195/126887306-0e9a060a-08e0-4079-a9c0-23272add1098.png)
Facebook

[2021-07-25 04:30] denistsoi commented on #358
Sorry all - but Project owner for TNBC Treasure hunt... but this project logo isn't an open task -

[2021-07-25 04:33] denistsoi commented on #360
Hi all - this was already completed in https://github.com/AnonymousDapper/aiotnb/issues/1
(I worked closely with AnonymousDapper over 2 weeks and was submitted and completed 2 weeks ago).

--- Edit

Please look at this thread in contrast to my above comment
https://github.com/thenewboston-developers/Marketing/issues/358#issuecomment-886178783

[2021-07-25 04:39] denistsoi commented on #352
This was already submitted to Pixel on discord. (the submitted work which is currently being used on discord).

![](https://cdn.discordapp.com/attachments/825419645259350116/852894351092613130/Untitled_Artwork.png)

Alternative verctorised deliverables were also recently submitted.

![](https://cdn.discordapp.com/attachments/825419645259350116/862010669640843304/tnb-shop-background-light.png)

![]

[2021-07-25 04:47] denistsoi commented on #352
--- Edit

Please look at this thread in contrast to my above comment
https://github.com/thenewboston-developers/Marketing/issues/358#issuecomment-886178783

[2021-07-25 04:57] clarkycode commented on #363
Account No: f60f9bbc7d7f5d12209de5d97c118ab5136bb8915d4b288f7117289d890718fd

![Instagram](https://user-images.githubusercontent.com/76585195/126888221-be7f93ac-bc7f-4a45-8df8-c62d7374c785.png)
Instagram

[2021-07-25 05:49] Prawesh-MAGNETIC commented on #358
Sure sir, acknowledged! Thank you for the information! 🙏🏼🙂

[2021-07-25 10:04] stweyel commented on #358
@Chrisha1212 Could you please comment on this?!

[2021-07-25 10:18] denistsoi commented on #358
@stweyel @Prawesh-MAGNETIC  - sorry from the time I mentioned in my comment until now

I've spoken with both @Chrisha1212 and @manishram about these tickets.

They're separate bounties from the Projects (and openly given by the government).

The Project lead can opt to use whatever was submitted but it is up to the marketing/government to decide which design is the best and submit the bounty accor

[2021-07-25 10:21] denistsoi commented on #358
Apologises @stweyel - the team here should've mentioned that it was mutually exclusive rather than leaving it ambiguous for the Project Leads and subsequent designers on those projects to assume that our work would be undermined by these bounties.

For myself, I'm not personally looking for a logo - but this task is different - so feel free to design to your hearts content.

[2021-07-25 10:51] stweyel commented on #358
@denistsoi No need to apologize.

@Chrisha1212  and all others... This procedure is indeed very confusing and everything but transparent (There're other occurrences as well). I've a strong feeling that we face a decent lack of (clear) communication which easily leads to careless handling of a respectful appreciation of peoples input and commitment. Which is a dangerous thing for a growing communit

[2021-07-25 13:18] stweyel commented on #347
![freelance64](https://user-images.githubusercontent.com/25363181/126900510-3859a8b1-bbe6-4902-a538-6e1d26f73597.png)
![freelance256](https://user-images.githubusercontent.com/25363181/126900511-e40bc366-01a1-4a8d-9d72-88edc29c4adb.png)
![freelance512](https://user-images.githubusercontent.com/25363181/126900512-b2248b94-d61a-49f3-b07c-a5f9f2f429b3.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63

[2021-07-25 14:18] xrviv commented on #325
- Writer: Daniel Andrei R. Garcia
- Proofread: ______________
- Date Written: 7/25/2021
- Number of Words: 853
- Read Time: Est. 3 minutes 54 seconds
- Link to Article: https://docs.google.com/document/d/1tRD1eNSGFkNKCQF82GyZSMkaz1bAI8GVtbNxJKBI15M/edit?usp=sharing
- TNB Account #: 89e2f209951ab820aecca89e3af91093ca5e3a42387b6fa06cdf5dc30d57649e
- Image Attribution: [Unsplash License](https://unsp

[2021-07-25 15:00] stweyel commented on #351
![restaurant64](https://user-images.githubusercontent.com/25363181/126903915-91346a3e-ba1c-4cc9-b280-1e59b807a930.png)
![restaurant256](https://user-images.githubusercontent.com/25363181/126903916-b16b3fd2-b27d-45fc-94a0-c09a47ab26ce.png)
![restaurant512](https://user-images.githubusercontent.com/25363181/126903917-e1e7566d-900c-4792-9886-93eecff9cadc.png)

94161c7f2d143eb387aab95b1ee4d334df57a233

[2021-07-25 15:15] AliHaider20 commented on #329
What is the meaning of label 1000?

[2021-07-25 20:12] shalombrain commented on #365
Is this open to everyone?

[2021-07-25 20:19] stweyel commented on #351
![restaurant2-64](https://user-images.githubusercontent.com/25363181/126912298-606440da-b5fa-49b7-8ebc-66c64b8c8ce6.png)
![restaurant2-256](https://user-images.githubusercontent.com/25363181/126912299-4aba0042-7689-49b5-8ecb-d57c7e8982e7.png)
![restaurant2-512](https://user-images.githubusercontent.com/25363181/126912300-87c8b227-706b-40f2-b995-ce7cb83a08da.png)

94161c7f2d143eb387aab95b1ee4d334df

[2021-07-25 21:57] stweyel commented on #348
![hd keys64](https://user-images.githubusercontent.com/25363181/126914686-0384c444-3efd-47f3-b0ec-40c021ea70b2.png)
![hd keys256](https://user-images.githubusercontent.com/25363181/126914688-638d115d-3cf6-4024-ad75-c510bbf8289d.png)
![hd keys512](https://user-images.githubusercontent.com/25363181/126914689-56ad08ca-8a12-4d77-a6f9-e5371ab3b046.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c

[2021-07-25 23:41] stweyel commented on #354
![list64](https://user-images.githubusercontent.com/25363181/126917224-ebe6e518-cf03-438f-a989-32eb90a6a7c3.png)
![list256](https://user-images.githubusercontent.com/25363181/126917225-92975490-f604-4e02-84ff-8a7fdc6bab3b.png)
![list512](https://user-images.githubusercontent.com/25363181/126917226-c36f2a1f-a1dd-43dc-91ce-37bed17d498e.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148

[2021-07-26 08:51] stweyel commented on #362
Update:
![logo64](https://user-images.githubusercontent.com/25363181/126965878-7e7af4dc-b36b-41b8-8ee5-c3a44f980e6b.png)
![logo256](https://user-images.githubusercontent.com/25363181/126965880-2a3ef210-20d9-4f2d-bcc9-28d637694a4e.png)
![everything512](https://user-images.githubusercontent.com/25363181/126965882-d67eebf6-2aff-441e-b5d9-5820db3ab94b.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63b

[2021-07-26 13:31] stweyel commented on #354
_like this one better..._

![list-dark64](https://user-images.githubusercontent.com/25363181/126997104-38bb3ec2-3591-434d-bff2-cca787fefb00.png)
![list-dark256](https://user-images.githubusercontent.com/25363181/126997106-7c3587c1-7912-4f19-9c5a-027091cee916.png)
![list-dark512](https://user-images.githubusercontent.com/25363181/126997109-dd7a2c82-6657-4f49-84ed-ee45bda33304.png)

94161c7f2d143eb3

[2021-07-26 19:08] bojan-ilijevski opened #366 "Bot"
**What**
We need a bot that gets the comments from our Facebook and Twitter posts and puts them in a spreadsheet with their: names, country (if they have specified in their in bio) and what they actually commented.

**Why**
We don't have the time to go through hundreds of comments manually

**Deliverables**
Fully working, tested, and documented Python bot. All source code must be uploaded to GitHu

[2021-07-26 19:39] Aareon commented on #366
Claimed.

[2021-07-27 11:18] denistsoi commented on #360
![Transparent](https://user-images.githubusercontent.com/3061779/127145359-75a333bc-9952-4d17-a56a-090f332ac523.png)

[2021-07-27 15:22] denistsoi commented on #354
![Logo-Alt](https://user-images.githubusercontent.com/3061779/127181070-14960aae-1628-4362-a158-1e0d6e6d209f.png)
![Logo-Dark-Alt](https://user-images.githubusercontent.com/3061779/127181148-acfbc955-7d5e-4a71-8c0d-df17be1e86cd.png)
![Logo-Dark](https://user-images.githubusercontent.com/3061779/127181181-1fb81064-75e6-4286-944a-a2da9d5c1531.png)
![Logo-Light-Alt](https://user-images.githubusercont

[2021-07-29 05:09] #365 closed

[2021-07-29 05:09] #364 closed

[2021-07-29 05:09] #363 closed

[2021-07-29 05:13] kristykjlee opened #367 "Social Media Post"
**Post Description**
We are looking for a Marketing Specialist for Nigeria! Responsibilities include representing thenewboston to the public and providing us with local knowledge. Visit https://thenewboston.com/openings/Marketing/marketing-strategy-specialist-nigeria Click Apply.

**Image Specs**
Size: 1080 x 1080px
Format: JPG or PNG

[2021-07-29 05:33] kristykjlee opened #368 "Product Update"
@manishram Hey Manish, since we want to give the community an update on new project updates, lets make a post about the Woocommerce Plugin now that its all done.

Can you write out what the feature name is, what the feature is, and what the value of the feature is? After you are done with that, please assign Tristan to spice up the content using our Brand Tone.

Feature:
What is it:
What is the va

[2021-07-29 05:58] manishram commented on #368
**Feature:**
TNBpay plugin for woo-commerce.

**What is it:**
A plugin that sellers can use to quickly integrate TNBC as the payment method to their woo-commerce shop.

**What is the value:**
With this free and open-source plugin, people can make their online woo-commerce store where they can sell goods for TNBC.

[2021-07-29 06:11] tspearing commented on #368
Feature:
A TNBC plugin for woo-commerce.

What is it:
A plugin that integrates TNBC as the payment method for online stores that use woo-commerce.

What is the value:
Online stores can sell goods for TNBC using a free plugin which takes less than 2 minutes to set up and requires no coding.

[2021-07-29 21:00] stweyel commented on #359
![gem64](https://user-images.githubusercontent.com/25363181/127566359-34ec546b-856f-4879-a31b-5d9e469f3cfd.png)
![gem256](https://user-images.githubusercontent.com/25363181/127566360-082204c7-a6f7-42c2-9d10-f63163a91fd1.png)
![gem512](https://user-images.githubusercontent.com/25363181/127566363-1bd52314-39c1-4dbf-8c51-6315e5b7634b.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368148c49

[2021-07-29 21:41] stweyel commented on #359
![gem2-64](https://user-images.githubusercontent.com/25363181/127569482-fc191ec5-94b1-4473-9132-3c4b3a176bf5.png)
![gem2-256](https://user-images.githubusercontent.com/25363181/127569484-9e147d54-e627-4b0a-9395-a15c2bb7e574.png)
![gem2-512](https://user-images.githubusercontent.com/25363181/127569486-09604658-9c80-44bc-8527-affc6e6ecfac.png)

94161c7f2d143eb387aab95b1ee4d334df57a233a63bd466c8b2368

[2021-07-30 08:26] YashovardhanSingh commented on #366
Is this issue still on?

[2021-07-30 12:53] hussu010 commented on #329
@AliHaider20 it means 1000 TNBC will be paid once there's a blog post written and ready to be published.

[2021-07-30 13:25] AliHaider20 commented on #329
Got it. Thanks 👍.

[2021-08-01 09:41] #352 closed

[2021-08-01 09:47] #362 closed

[2021-08-01 09:56] #347 closed

[2021-08-01 09:56] #348 closed

[2021-08-01 09:56] #349 closed

[2021-08-01 09:56] #350 closed

[2021-08-01 09:56] #351 closed

[2021-08-01 09:56] #353 closed

[2021-08-01 09:56] #354 closed

[2021-08-01 09:56] #355 closed

[2021-08-01 09:56] #356 closed

[2021-08-01 09:56] #357 closed

[2021-08-01 09:56] #358 closed

[2021-08-01 09:56] #359 closed

[2021-08-01 09:56] #360 closed

[2021-08-01 09:56] #361 closed

[2021-08-01 10:14] manishram commented on #290
@stweyel paid!!

[2021-08-03 06:13] #367 closed

[2021-08-03 06:16] manishram opened #369 "Code Arkive"
**Event name:**
Code Arkive

**Post Content:**
Code Arkive host riddles and prizes for thenewboston community. Wakawaka recently won 10,000 TNB from breaking this tough riddle. Check out the riddle and stay tuned for the next riddle and prize!

**Website:**
https://codearkive.pythonanywhere.com/

**Rules:**
http://codearkive.pythonanywhere.com/rules/

[2021-08-04 06:44] EilyshaKaye commented on #338
The benefits of cryptocurrency trading are:

1. Cryptocurrency volatility. The volatility of cryptocurrencies is part of what makes this market so exciting. Rapid intraday price movements can provide a range of opportunities to traders to go long and short but also come with increased risk. So, if you decide to explore the cryptocurrency market, make sure that you have done your research and devel

[2021-08-06 13:50] Chrisha1212 commented on #317
Hi are you still working on this?

[2021-08-07 07:36] C3lxius commented on #317
I actually forgot about this... Sorry.
But yeah... I'll do it and drop the link In a few..👌🏾

[2021-08-07 08:07] manishram commented on #369
@kristykjlee
There should be, "Code Arkive ~host~ **hosts** riddles"

[2021-08-07 19:18] Chrisha1212 commented on #316
@C3lxius  requesting for edit access

[2021-08-07 22:10] C3lxius commented on #316
Granted.

[2021-08-10 08:34] Chrisha1212 opened #370 "Inspirational Story of Eddy Zillan – Early Investor"
Eddy Zillan is another good example of how it’s possible to turn a small investment into millions of dollars. When Zillan was only 15 years old, he began to invest in cryptocurrencies.
According to Zillan, there were no online resources (i.e., books, YouTube tutorials, or other investors) he could rely upon when he first started investing. Compared to the other Bitcoin stories in this article, his

[2021-08-10 14:24] Chrisha1212 opened #371 "Inspirational Story of Ian Balina – ICO Investor"
Ian Balina’s journey to cryptocurrency wealth is interesting for a few different reasons. Unlike the people in the Bitcoin stories above who mostly invested in BTC in the early days when prices were extremely low, Balina invested in a number of ICOs of emerging cryptocurrencies.
Balina even created a public Google Spreadsheet so that other investors could see which projects he invested in. He also

[2021-08-10 14:27] Chrisha1212 opened #372 "Inspirational Story of Olaf Carlson-Wee – First Employee at Coinbase"
Olaf Carlson-Wee while the previous examples show how an early investment and good market timing created Bitcoin millionaires, not all Bitcoin stories involve investment.  Olaf Carlson-Wee’s Bitcoin story demonstrates how working for a small startup can be financially beneficial.
Initially, Carlson-Wee invested in Bitcoin when the price was just $16 per BTC. While this seems like a fantastic inves

[2021-08-10 14:44] Chrisha1212 opened #373 "Inspirational Story of Barry Silbert – Entrepreneur"
Barry Silbert is the CEO and founder of Digital Currency Group (DGC) and has reportedly invested in around 75 crypto-related companies. DGC is recognized as the world’s leading company in terms of the number and value of cryptocurrency investments. DGC reportedly reached $300 billion in assets under management in 2017.
Silbert also owns a few other companies focused on the cryptocurrency market. T

[2021-08-10 22:21] kristykjlee commented on #368
Please credit Olowudaniel1 on instagram

[2021-08-10 22:38] kristykjlee commented on #368
https://bit.ly/3AAvJ0z

[2021-08-10 22:38] kristykjlee commented on #368
No transaction fees
Seeemless integration
Instant payment confirmation
Make payment wiht TNBC

[2021-08-11 01:56] kristykjlee commented on #369
@Chrisha1212 Use this content below when posting.

Hey guys! Niekon (from our discord community) created CodeArkive to host riddles and prizes for thenewboston community. Wakawaka recently won 10,000 TNB from breaking this tough riddle. Try solving this riddle and stay tuned for the next riddle and prize! You can view their website on our bio. Comment below if you know the answer.

[2021-08-11 01:59] kristykjlee commented on #369
@Chrisha1212 This is a carousel post, the posts are listed numerically.
[CodeArkive.zip](https://github.com/thenewboston-developers/Marketing/files/6965379/CodeArkive.zip)

[2021-08-11 02:00] Chrisha1212 commented on #369
Alright will schedule it now :)

[2021-08-11 02:06] kristykjlee commented on #368
@Chrisha1212 Ready to post. Use this content below when posting.

Congratulations to @Olowudaniel1 for launching TNBpay! TNBpay is a TNBC plug-in for woo-commerce. It is plug-in that integrates TNBC as the payment method for online stores that use woo-commerce. Online stores can sell goods for TNBC using a free plugin which takes less than 2 minutes to set up and requires no coding. No transaction

[2021-08-11 02:07] kristykjlee commented on #368
[Woocommerce.png.zip](https://github.com/thenewboston-developers/Marketing/files/6965413/Woocommerce.png.zip)
@Chrisha1212

[2021-08-15 06:31] Chrisha1212 opened #374 "Make a Hiring Infographic"
**Community Engagement Specialist**
We are looking for a fun, sociable individual that can engage with our community, organize events, and promote a healthy atmosphere.
**Responsibilities**

- Encourage conversations within the community.

- Brainstorm ideas on games, contests, activities, etc within the community.

- Help answer general questions for people within the community.

- Stay up to dat

[2021-08-15 08:38] Docebo-Netflix commented on #374
![Facebook, Instagram - 374](https://user-images.githubusercontent.com/78985665/129472400-cc4ca291-1467-4c86-b6f2-244bf789e6be.png)

[2021-08-15 12:11] markmendozadev commented on #331
Can I work on this? :D can I talk about any other platform?

[2021-08-15 19:08] markmendozadev commented on #331
Hey not sure if this is what you're looking for but can you check?
https://docs.google.com/document/d/1J3F7Zl0MeSUf4l8bADI8rC6UL0_Co5qJPjzgex1lS1U/edit?usp=sharing

[2021-08-16 01:47] Docebo-Netflix commented on #374
Here are the edits

![Facebook, Instagram - 374](https://user-images.githubusercontent.com/78985665/129500821-eed2461f-c395-4805-8876-7b5b5ee17292.png)

[2021-08-17 01:06] tspearing commented on #331
Hi @markmendozadev, I've passed these comments on to the marketing team. We'll get back to you.

[2021-08-18 13:49] Chrisha1212 commented on #329
Are you working on it?

[2021-08-18 13:51] Chrisha1212 commented on #338
@EilyshaKaye
Do you have discord?

[2021-08-18 13:57] Chrisha1212 commented on #317
Alright do you have discord account?

[2021-08-18 14:02] AliHaider20 commented on #329
Right now not working. Busy in exams.

[2021-08-20 23:50] tspearing commented on #338
@EilyshaKaye, Could this go into a google doc so I can make suggestions for edits?

[2021-08-21 00:22] ethelmangao commented on #335
Document: https://docs.google.com/document/d/169s09Ral-UdQ0FjGKKMeGM4ks93z0gZo9FLvoJItSzM/edit?usp=sharing

Account Number: f94727c95a003538f3d552435e14ae21565539db149d31590937d042767fe1e2

[2021-08-23 05:24] Chrisha1212 commented on #305
What's your account number?

[2021-08-23 05:25] Chrisha1212 commented on #304
What's your account number?

[2021-08-23 05:25] Chrisha1212 commented on #303
What's your account number?

[2021-08-23 12:24] shalombrain commented on #303
51552a8b3b32cd3389908f8dbbb8f23856898f7953b3c27e7ab50b073d15330f

[2021-08-23 12:24] shalombrain commented on #304
51552a8b3b32cd3389908f8dbbb8f23856898f7953b3c27e7ab50b073d15330f

[2021-08-23 12:25] shalombrain commented on #305
51552a8b3b32cd3389908f8dbbb8f23856898f7953b3c27e7ab50b073d15330f

[2021-08-23 16:22] Chrisha1212 commented on #303
@shalombrain- 1000

[2021-08-23 16:23] Chrisha1212 commented on #304
@shalombrain-1000

[2021-08-23 16:23] Chrisha1212 commented on #305
@shalombrain-1000

[2021-08-23 16:25] #303 closed

[2021-08-23 16:28] #304 closed

[2021-08-23 16:29] #305 closed

[2021-08-31 05:38] Chrisha1212 commented on #335
@ethelmangao - 1000

[2021-08-31 05:42] #335 closed

[2021-08-31 13:31] zokirmahamadjonovold commented on #366
Is it open ?
can i do this task?
i can create telegram bot what you want

[2021-09-01 08:23] nicocrozier commented on #366
Still open i have most of it done, it just has to be run manually.

[2021-09-01 08:42] nicocrozier commented on #337
Still available?

[2021-09-02 14:11] Chrisha1212 commented on #337
Yes @nicocrozier

[2021-09-03 00:04] bojan-ilijevski commented on #366
This issue is closed for now, but we will open it in the future.

[2021-09-03 00:04] #366 closed

[2021-09-03 06:33] ajinkya-talekar commented on #338
Is it completed or still available?

[2021-09-03 15:15] stephen1204paul commented on #319
Hi can I work on this?

[2021-09-05 12:44] Chrisha1212 commented on #319
@stephen1204paul Yes :)

[2021-09-05 12:45] Chrisha1212 commented on #338
@ajinkya-talekar you can work on it :)

[2021-09-08 00:58] nicocrozier commented on #337
https://github.com/nicocrozier/Activity-Reports/blob/master/5%20reasons%20why%20crypto%20is%20the%20future%20of%20finance.pdf

Done

8d35c77a400fdf86ce990caaa91b9316a9b30a6bd238613070515603be148339

[2021-09-10 06:07] YashovardhanSingh commented on #334
@Chrisha1212 https://blogs-for-tnb.blogspot.com/2021/09/the-top-10-cryptocurrencies-in-2021.html
38a99b8f1916eab0471ca1df26e7fe5e71d845e6ea5b233cd3d93a75097ea2d6

[2021-09-10 22:03] nicocrozier commented on #337
Was my Blog post not sufficient? I can edit if needed. @Chrisha1212

[2021-09-11 23:43] Chrisha1212 commented on #337
Will review it :)

[2021-09-12 09:26] Chrisha1212 opened #375 "Blog Post: Chess Tournament"
**Blog Topic**
Create a blog post about the chess tournament that will take place on this Discord server: https://discord.gg/9d3gFYeYzX and Website https://tnbcgames.com/

Important information that should be mentioned.

What is it? A chess tournament.

Where: Discord and the internet

When: September 20, 2021 Date of registration

Who: Everyone

Join here: https://discord.gg/9d3gFYeYzX and https:

[2021-09-12 14:14] shalombrain commented on #375
Hi @Chrisha1212, I would love to take on this task.

[2021-09-12 17:55] Chrisha1212 commented on #375
Take it :)

[2021-09-12 19:23] Gstar219 commented on #375
Hi
I would love to work on this project

[2021-09-12 20:38] markmendozadev commented on #375
sent an entry as well. :D

[2021-09-13 09:41] YashovardhanSingh commented on #338
@Chrisha1212 https://blogs-for-tnb.blogspot.com/2021/09/the-5-benefits-of-trading.html

[2021-09-14 21:08] Chrisha1212 commented on #375
Sure just  upload the docs here

[2021-09-14 21:08] Chrisha1212 commented on #375
Sure sure

[2021-09-14 21:08] #374 closed

[2021-09-14 21:09] Chrisha1212 commented on #338
Will review this.

[2021-09-14 22:10] Gstar219 commented on #375
https://docs.google.com/document/d/1t4vkidK41cYzvG8SSGEofXiRnuvc3GKjLem_ncmDxow/edit?usp=sharing

[2021-09-16 17:11] YashovardhanSingh commented on #334
is this one done?

[2021-09-17 05:51] YashovardhanSingh commented on #338
38a99b8f1916eab0471ca1df26e7fe5e71d845e6ea5b233cd3d93a75097ea2d6

[2021-09-20 06:32] C3lxius commented on #317
Again... sorry. I've been away for some personal stuff. Is this still open? And yes, i do have a discord account.

[2021-09-20 13:56] Chrisha1212 commented on #375
requesting for acces. please

[2021-09-20 13:58] shalombrain commented on #375
https://docs.google.com/document/d/1ry9S_1IkLjdYLrVV954wrs7nTXp5myg6-YimTX5AKTk/edit?usp=sharing @Chrisha1212

[2021-09-20 18:31] Gstar219 commented on #375
Done

[2021-09-20 19:23] Gstar219 commented on #375
Done

[2021-09-21 12:07] Chrisha1212 commented on #338
requesting for access.

[2021-09-21 12:09] Chrisha1212 commented on #331
Hey @markmendozadev, can check the docs? let ass know if the changes resolved already.

[2021-09-21 14:14] YashovardhanSingh commented on #338
@Chrisha1212 What?

[2021-09-21 16:15] YashovardhanSingh commented on #375
is this done?

[2021-09-22 21:03] bojan-ilijevski opened #376 "Wordpress Blog"
1. Fix categories
2. Fix thumbnails that don't appear
3. Change articles to be in their fitting category

*This is only for the WordPress dev.

[2021-09-23 14:39] Chrisha1212 commented on #375
Hey guys we decided to use @Gstar219 work . Congratulatuions!

[2021-09-23 14:39] Chrisha1212 commented on #375
@Gstar219 - 1000

[2021-09-23 14:39] #375 closed

[2021-09-23 14:40] Chrisha1212 commented on #375
@Gstar219 please send me your account number in discord MsChrishaph#0709

[2021-09-23 14:53] rpleau commented on #334
I would be interested in contributing this task.  Also, I think it should address The New Boston Coin unique selling proposition/value in the marketplace.
Please let me know.
With best regards,
Richard

[2021-09-23 23:01] buckyroberts opened #377 "Recruit Python Developer for Blockchain Team"
We are rewarding 50,000 TNBC to anyone who can recruit a Python Developer to join our Blockchain Team. The minimum requirements for the position are listed below. In addition, this developer must also pass an interview with Dmitry, our Lead Blockchain Developer, before joining the team.

**Required skills:**
- Basic understanding of blockchain
- Python 5+ years
- Django 2+ years
- Django REST Fram

[2021-09-24 19:46] IvanDanilov66 commented on #376
Done!!

Account number : f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-09-24 19:49] bojan-ilijevski opened #378 "WordPress Blog"
1. Remove OBJ
![image](https://user-images.githubusercontent.com/58598872/134731837-423b88d0-ce4c-4adc-8414-26f0518aa5c3.png)
2. Add an image
3. Create Game Tournament category and move the article there

The article is already posted so we need this as soon as possible

*This is only for the WordPress dev.

[2021-09-24 21:12] IvanDanilov66 commented on #378
Done !
Acc number: f1d85cecf85d7da38401dc58fabf1aa4294c881bb9d2c47642d1b460017f06cd

[2021-09-25 17:29] Gstar219 commented on #375
Okay
Thank you

[2021-09-25 17:42] Gstar219 commented on #375
07fcc17feba3ce5ff135d698cedca39e8ac697524461914354652f25e8f8da52

[2021-09-25 17:58] Gstar219 commented on #329
Is this still open?

[2021-09-27 17:56] manishram opened #379 "Design Featured Images for Apps"
Design awesome featured images for these apps:
1. [Keysign](https://developer.thenewboston.com/projects/approved-projects/00e64bb4-37b0-453e-a778-26251818affc)
2. [TNB Faucet](https://developer.thenewboston.com/projects/approved-projects/589649fb-dfaa-4081-b04a-2e9179cf1a21)
3. [TNB Discord Bot](https://developer.thenewboston.com/projects/approved-projects/42d288db-862c-4920-be4b-56f53445b58d)
4.

[2021-09-27 19:53] manishram commented on #379
@Toledit

[2021-09-27 20:07] stweyel commented on #379
@manishram Is this assigned to Toledit? If not, which size is expected for the images and where will they be placed?

[2021-09-27 20:26] manishram commented on #379
Hey @stweyel, yes this task is for Toledit. We need these graphics for: https://thenewboston.com/arcade
But we have some update to the design of this page so we need **280px X 280px** (1:1) graphics.

[2021-09-29 19:37] Toledit commented on #379
https://github.com/thenewboston-developers/Design/issues/240#issuecomment-930482390

[2021-10-06 11:53] MayeDay commented on #331
Is this still open?

[2021-10-06 11:53] MayeDay commented on #330
Hello is this still open?

[2021-10-06 11:54] MayeDay commented on #322
Hello is this still open?

[2021-10-06 11:55] MayeDay commented on #320
Hello is this still open?

[2021-10-08 15:10] Chrisha1212 commented on #320
Hey  @MayeDay yes its still open.

[2021-10-08 15:11] Chrisha1212 commented on #322
@MayeDay Yes :)

[2021-10-08 15:11] Chrisha1212 commented on #330
@MayeDay Yes :)

[2021-10-08 15:13] Chrisha1212 commented on #331
@MayeDay Yes :)

[2021-10-15 00:47] kristykjlee opened #380 "Write social media caption content to market new website."
**What**
Tristan begin writing **social media caption content** for marketing out new website. No need to think about what content needs to go on the image, design team will make visuals based off the caption content you write.

**Why**
For marketing new website and getting as many developers onto thenewboston.com to start watching tutorials and creating apps to earn coins.

**Deliverables**
Writt

[2021-10-15 00:51] kristykjlee opened #381 "Research & Write Hackathon Rules"
**What**
Please write up rules and details for our new Hackathon event.

**Why**
We are going to be hosting a Hackathon with the goal of getting as many apps built and every Hackathon member who develops an app will also get coins from it.

**Deliverables**
Written document on rules & any additional details to set up a Hackathon event.

[2021-10-15 00:54] kristykjlee opened #382 "Create fun events for the community"
**What**
Chrisha research and come up with fun events for the community. Consider how we can distribute coins through the event as well.

**Why**
Because its fun :)

**Deliverables**
Come up with ideas for fun events and come up with dates on when we should start the event. As a community engagement specialist, you will be hosting the event and we can help out with creating marketing posts for it

[2021-10-19 22:52] Chrisha1212 commented on #382
**Halloween Event Ideas**
https://docs.google.com/document/d/1PUtKWOx3mngGUIxWlAl3GIAAuXQ2RQuN1iXmTJ5CYnE/edit

[2021-10-21 03:07] miladmohammadint commented on #324
@Chrisha1212 @buckyroberts This is my first time participating so apologies in advance if I violate any norms. Please see my blog draft below.
[Are Cryptocurrency Exchanges Regulated?.pdf](https://github.com/thenewboston-developers/Marketing/files/7385707/Are.Cryptocurrency.Exchanges.Regulated.pdf)

[2021-10-28 03:11] eladcrock commented on #333
Hi, Is this still available?

[2021-10-29 07:07] Chrisha1212 commented on #333
Hey @eladcrock yes it is. can you work on it?

[2021-10-29 15:07] eladcrock commented on #333
Sure can! Thanks I’ll get to work on it

On Fri, Oct 29, 2021 at 00:08 MsChrishaph ***@***.***> wrote:

[2021-11-23 17:49] WillyanSantosMoreira commented on #337
Can I work on this, please?

[2021-11-23 17:49] WillyanSantosMoreira commented on #337
Can I work on this, please?

[2021-12-31 14:55] C3lxius commented on #316
Hi... so... was there supposed to be some sort of reward for writing this?😇😇

[2021-12-31 20:24] Docebo-Netflix commented on #316
@Chrisha1212 @C3lxius Did you need a few images for this blog post?

[2022-01-02 15:49] #338 closed

[2022-01-02 15:49] #337 closed

[2022-01-02 15:49] #336 closed

[2022-01-02 15:49] #334 closed

[2022-01-02 15:50] #333 closed

[2022-01-02 15:50] #332 closed

[2022-01-02 15:50] #330 closed

[2022-01-02 15:50] #329 closed

[2022-01-02 15:51] #331 closed

[2022-01-02 15:51] #328 closed

[2022-01-02 15:51] #326 closed

[2022-01-02 15:51] #325 closed

[2022-01-02 15:52] #327 closed

[2022-01-02 15:52] #324 closed

[2022-01-02 15:52] #323 closed

[2022-01-02 15:52] #321 closed

[2022-01-02 15:53] #306 closed

[2022-01-02 15:53] #307 closed

[2022-01-02 15:53] #308 closed

[2022-01-02 15:53] #309 closed

[2022-01-02 15:53] #311 closed

[2022-01-02 15:53] #313 closed

[2022-01-02 15:53] #315 closed

[2022-01-02 15:54] #318 closed

[2022-01-02 15:54] #322 closed

[2022-01-02 15:54] #320 closed

[2022-01-02 15:54] #319 closed

[2022-01-02 15:54] #317 closed

[2022-01-02 15:54] #312 closed

[2022-01-02 15:54] #310 closed

[2022-01-02 15:55] #316 closed

[2022-01-02 15:55] #314 closed

[2022-01-03 00:29] Chrisha1212 commented on #382
Can I work on this event for this year @kristykjlee ?

[2022-01-10 04:17] kristykjlee opened #383 "App Upload Template"
**Name of App**

-

**App tagline**

-

**Link to website**

-

**Overview of app (What project lead wants people to know about the app)**

-

**Developers name**

-

**Developers GitHub**

-

**Developers Discord name/ID**

-

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**

-

**Release Date of app**

-

**App Ca

[2022-01-10 06:15] kristykjlee opened #384 "Jumpy Coin"
**Name of App**

- Jumpy Coin

**App tagline**

- Control your TNBC in an endless jumping adventure.

**Link to website**

- https://play.google.com/store/apps/details?id=org.iamhaydara.jumpycoin

**Overview of app (What project lead wants people to know about the app)**

- Jumpy Coin is an endless jumping game where you control a TNB coin, attempting to fly between columns of barriers without hit

[2022-01-10 06:15] kristykjlee opened #385 "Bitty"
**Name of App**

-

**App tagline**

-

**Link to website**

-

**Overview of app (What project lead wants people to know about the app)**

-

**Developers name**

-

**Developers GitHub**

-

**Developers Discord name/ID**

-

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**

-

**Release Date of app**

-

**App Ca

[2022-01-10 06:20] kristykjlee opened #386 "TNB Analytics"
**Name of App**

- TNB Analytics

**App tagline**

- Transparency To Better Economy

**Link to website**

- http://tnbanalytics.com/

**Overview of app (What project lead wants people to know about the app)**

- TNBC Analytics is an application that represents the transparency of TNBC distribution systems. It scans the TNBC Blockchain filtered by TNB Treasury & Government public key, processes the

[2022-01-11 05:13] kristykjlee opened #387 "GetMeFunky"
**Name of App**

- GetMeFunky

**App tagline**

- Get cool stuff with TNBC.

**Link to website**

- https://getmefunky.com

**Overview of app (What project lead wants people to know about the app)**

- We are building a platform where people can purchase apparel and accessories with TNBC. These include but are not limited to t-shirts, hoodies, caps, coffee mugs, etc. This project, with the help of

[2022-01-13 15:09] manishram commented on #387
<img width="375" alt="GetMeFunky" src="https://user-images.githubusercontent.com/22790904/149355776-0f9f393f-0fea-4a81-bb52-3634d6abb9df.png">

[2022-01-15 04:53] YashovardhanSingh commented on #334
@Chrisha1212 Is my blog used?

[2022-01-15 10:00] Chrisha1212 commented on #334
@YashovardhanSingh  lemme check.

[2022-01-15 10:34] Kycermann commented on #385
Name of App: Bitty

App tagline: Bitty is the interactive multiplayer Discord story game.

Link to website: https://discord.gg/joinbitty

Overview of app (What project lead wants people to know about the app)
Join an interactive adventure: a collaborative multiplayer RPG and collectible Discord game.

Developers name: Pixel

Developers GitHub: @Kycermann

Developers Discord name/ID: Pixel#5000

In

[2022-01-19 21:24] Toledit commented on #386
Featured graphics & screenshots design here [#2179](https://github.com/thenewboston-developers/Contributor-Payments/issues/2179)
Or here on [google drive](https://drive.google.com/drive/folders/18pM68Bha2uksGr_6BKaGPrtMNbpxhu6K?usp=sharing)

[2022-01-24 20:41] #380 closed

[2022-01-24 20:42] #373 closed

[2022-01-24 20:42] #371 closed

[2022-01-24 20:42] #370 closed

[2022-01-24 20:42] #372 closed

[2022-01-24 20:42] #368 closed

[2022-01-24 20:42] #369 closed

[2022-01-24 20:43] #385 closed

[2022-01-24 20:43] #387 closed

[2022-01-24 20:43] #384 closed

[2022-01-24 20:43] #386 closed

[2022-01-24 20:44] #381 closed

[2022-01-24 20:44] #382 closed

[2022-01-24 20:44] #383 closed

[2022-01-24 20:45] #145 closed

[2022-01-24 20:45] #150 closed

[2022-01-24 20:45] #174 closed

[2022-01-24 20:45] #294 closed

[2022-01-24 20:45] #378 closed

[2022-01-24 20:45] #379 closed

[2022-01-24 20:46] #256 closed

[2022-01-24 20:46] #376 closed

[2022-01-24 21:04] kristykjlee opened #388 "Design featured image for 'Ethereum Tutorials on thenewboston’s YouTube Channel?"
**Task**
Read through the blog and design a featured image for this blog.
https://docs.google.com/document/d/1p6gU0P1t6VxOu8l2721X30v6uioX1biQnCoRgK2Gygg/edit
This image will be displayed in the thumbnail of the blog as well as inside the blog.

**Image Specs**
Size: 1200 x 628 pixels
Format: JPG or PNG

[2022-01-24 21:08] kristykjlee opened #389 "Design featured image for blog 'How TNB Pay is helping with the TNBC integration'"
**Task**
Read through the blog and design a featured image for this blog.
https://docs.google.com/document/d/1SiHJ8eQ2_0GCLV6c_M0BrV2gIbshsU8cgirvrsXGEFY/edit?pli=1#heading=h.wii1njrxzubc
This image will be displayed in the thumbnail of the blog as well as inside the blog.
https://blog.thenewboston.com/

**Image Specs**
Size: 1200 x 628 pixels
Format: JPG or PNG

[2022-01-24 21:43] led76marx commented on #389
https://thenewboston.com/apps/tnb-pay for additional context

[2022-01-25 21:21] vasitnb commented on #389
![TNB-PAY_Just](https://user-images.githubusercontent.com/98286144/151071139-2cbe6059-0919-4ea2-9741-4ee423da767d.jpg)

![TNB-PAY_with-text-](https://user-images.githubusercontent.com/98286144/151071157-d6acf1e5-c4ee-402b-9c68-a58cc0d0d56b.jpg)

@kristykjlee does that look good?

[2022-03-10 00:29] kristykjlee opened #390 "Project Copy for """
**Name of App**
-

**App tagline**
-

**Link to website**
-

**Overview of app (What project lead wants people to know about the app)**
-
**Developers name**
-

**Developers GitHub**
-

**Developers Discord name/ID**
-

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**
-

**Release Date of app**
-

**App Category**
-

[2022-03-10 00:30] kristykjlee opened #391 "Ruby"
**Name of App**
- Enter

**App tagline**
- Enter

**Link to website**
- Enter

**Overview of app (What project lead wants people to know about the app)**
- Enter

**Developers name**
- Enter

**Developers GitHub**
- Enter

**Developers Discord name/ID**
- Enter

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**
- Ent

[2022-03-10 00:30] kristykjlee opened #392 "RubyGem"
**Name of App**
- Enter

**App tagline**
- Enter

**Link to website**
- Enter

**Overview of app (What project lead wants people to know about the app)**
- Enter

**Developers name**
- Enter

**Developers GitHub**
- Enter

**Developers Discord name/ID**
- Enter

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**
- Ent

[2022-03-10 13:59] Prawesh-MAGNETIC commented on #390
TEMPLATE as in?
could you please provide me with the more detailed requirements?

[2022-03-10 14:57] avinashupadhya99 commented on #392
Name of App

- TNBGem (thenewboston gem)

App tagline

- Ruby SDK for thenewboston

Link to website

- https://avinashupadhya99.github.io/TNBGem/

Overview of app (What project lead wants people to know about the app)

- Library(SDK) to connect to the thenewboston blockchain network through Ruby code

Developers name

- Avinash Upadhyaya

Developers GitHub

- https://github.com/avinashupadhya99

D

[2022-03-12 15:21] hussu010 opened #393 "Origami (Paper Wallet for TNBC)"
#### Name of App
Origami

#### App tagline
Paper Wallet for TNBC

#### Link to website
https://origami-beta.vercel.app/

#### Overview of the app (What project lead wants people to know about the app)
Origami is a paper wallet generator for thenewboston blockchain. Please use this offline if you wish to generate and print a paper version of the public/private keys.

#### Developers name
wakawakath

[2022-03-15 04:31] kristykjlee opened #394 "SuppCoins"
**Name of App**
- Enter

**App tagline**
- Enter

**Link to website**
- Enter

**Overview of app (What project lead wants people to know about the app)**
- Enter

**Developers name**
- Enter

**Developers GitHub**
- Enter

**Developers Discord name/ID**
- Enter

**Info on how to Install the App (For applications that are not websites) (Can I download it from Google Play? App Store? Where?)**
- Ent

[2022-03-15 04:34] kristykjlee commented on #392
@avinashupadhya99 Hi, the link shows no install options.
https://avinashupadhya99.github.io/TNBGem/

Is there a different link that may work for it?

[2022-03-16 14:48] Toledit commented on #394
**Name of App**

-  SuppCoins

A Social media platform for artists, creators, and developers where users can support each other with TNBC.

**Link to website**

- suppcoins.com

**Overview of app (What project lead wants people to know about the app)**

- SuppCoins is a social media platform for artists, creators, and developers that is powered by thenewboston blockchain. Users can explore and fol

[2022-03-21 22:26] Toledit commented on #392
https://drive.google.com/drive/folders/15UTz1CXHl_rpMpQTxrQlt5d3ku1Qx_BH?usp=sharing

[2022-03-21 22:28] Toledit commented on #393
https://drive.google.com/drive/folders/1Hr8UfRG9t1CKtqCx40QVylQ7StO6WAIi?usp=sharing